
body {
	color: black;
	font-family:'openRegular';
	background-image: url(../img/top.jpg);
	background-repeat: repeat-x;
	padding: 0px;
	max-width: 800px;
	margin: 0 auto !important;
	float: none !important;	
}

@font-face {
    font-family:'openRegular';src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot");src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openLight';src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot");src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/light/OpenSans-Light-webfont.woff") format('woff'),url("../fonts/opensans/light/OpenSans-Light-webfont.ttf") format('truetype'),url("../fonts/opensans/light/OpenSans-Light-webfont.svg#open_sanslight") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openSemi';src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot");src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.woff") format('woff'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.ttf") format('truetype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openBold';src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format('woff'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format('truetype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format('svg');font-weight:normal;font-style:normal;
}

header {
	height:280px;
	width:100%;
	margin:0 auto;
	
}

header img {
	width:700px;
	height:202px;
	margin:60px auto;
}

.centro {
	width:700px;
	height:263px;
	margin:0 auto;
	text-align: center;
}

.main {
	margin:0 auto;
	width:400px;
	display:block;
	text-align: center;
}

.mainc {
	margin:0 auto;
	width:700px;
	display:block;
	padding-bottom: 70px;
}

.destacado {
	font-family: 'openBold';
}
h2{
	text-align: center;
	text-transform: uppercase;
}

h3 {
	padding:30px 200px;
	font-family: 'openBold';
	font-size:26px;
	text-align: center;
	text-transform: uppercase;
	margin-top:100px;
}

.txt {
	font-size: 14px;
	font-family: 'openBold';
	margin:0px;
	line-height: 20px;
}

.txt2 {
	font-size: 14px;
	margin:0px;
	line-height: 20px;
	width: 700px;
}

.nombre {
	margin:0px;
	text-transform: uppercase;
	font-family: 'openBold';

}

.col {
	width:100%;
	float: center;
	text-align: center !important;
	margin-top:35px;
	margin-bottom:60px;
}

.col p {
	text-align: center !important;

}

input {
	width: 330px;
	height: 40px;
	font-size: 14px;
	padding-left: 20px;
}

button {
	height: 40px;
	width: 250px;
	font-size: 14px;
}

section h1 {
	font-family: 'openBold';
	font-size:34px;
	text-align: center;
	text-transform: uppercase;
}

section p {
	
	font-size:17px;
	line-height:30px;
	text-align: justify;
}

footer {
	clear: both;
	text-align: center;
	margin-bottom: 40px;
}

.camposf ul{
	width:300px;
}

li {
	list-style-type: none;
	margin:20px 0;
}

.chk {
	width: 30px;
	height: 20px;
	margin:0px;
	padding:0px;
	display:inline;
	vertical-align: middle;
}

.checkboxes{
	text-align: left;
}

.lista	 {
	margin:20px;
	padding:0px;
	line-height: 8px;
	font-size:14px;
}

.btnes {
	margin-top:30px;
}

#registrese {
	width:400px;
	margin 0 auto;
	padding:0px;
}

.certificado{
	background-color: white;
	margin-top:20px;
}
