body {
	background-attachment: fixed;
	background-image: url(../images/background-paper.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}

div.sigpa, div.cnca {display: inline-block;width: 49%;}

img.logo-sigpa {float: right;margin: 20px 25%;}
img.logo-cnca {float: left;margin: 20px 25%;}

.message {
	width: 100%;
	font-family: 'gobCL';
	color: #fff;
	font-weight: 700;
	position: absolute;
	bottom: 80px;
	text-align: center;
	text-shadow: 1px 1px 5px #000;
}

.text1 {font-size: 100px;opacity: 0.6;}
.text2 {font-size: 45px;}
.text3 {font-size: 35px;}