@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: 'gobCL';
  font-weight: 300;
  font-style: normal;
  src: url("fonts/gobcl_light.eot?") format("eot"), url("fonts/gobcl_light.woff") format("woff"), url("fonts/gobcl_light.ttf") format("truetype");
}
@font-face {
  font-family: "gobCL";
  font-weight: 500;
  font-style: normal;
  src: url("fonts/gobcl_regular.eot?") format("eot"), url("fonts/gobcl_regular.woff") format("woff"), url("fonts/gobcl_regular.ttf") format("truetype");
}
@font-face {
  font-family: "gobCL";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/gobcl_bold.eot?") format("eot"), url("fonts/gobcl_bold.woff") format("woff"), url("fonts/gobcl_bold.ttf") format("truetype");
}
@font-face {
  font-family: "gobCL";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/gobcl_heavy.eot?") format("eot"), url("fonts/gobcl_heavy.woff") format("woff"), url("fonts/gobcl_heavy.ttf") format("truetype");
}
.gobcl {
  font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;
}
