fieldset {border: 0;}

p.sub {
    margin-top: -15px;
    margin-bottom: 20px;
    width: 95%;
    line-height: 20px;
}

p.desc {font-size: 16px !important;}
p.desc2 {font-size: 13px !important;font-style: italic;}
p.oblig {font-size: 13px !important;color: #cd5c5c;}

.form-style span.max {
    font-size: 18px;
    display: block;
    margin: 20px 0px 40px 0px;
}

.form-style div.terminos,
.form-style div.formulario {
	width: 55%;
    height: auto;
    position: relative;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

@media only screen and (max-width: 1680px){.form-style div.terminos, .form-style div.formulario {width: 60%;}}
@media only screen and (max-width: 1440px){.form-style div.terminos, .form-style div.formulario {width: 65%;}}
@media only screen and (max-width: 1280px){.form-style div.terminos, .form-style div.formulario {width: 75%;}}
@media only screen and (max-width: 1024px){.form-style div.terminos, .form-style div.formulario {width: 90%;}}

.form-style .block60 {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.form-style .block40 {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.form-style .block30 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.form-style #new-user {
    float: left;
    margin-left: 0px;
}

.form-style p.decl {
    font-size: 14px !important;
    margin-top: 0px;
    line-height: 18px;
}

.form-style .avatarImage {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px 5px 10px 0px;
    overflow: hidden;
}

.form-style .avatarImage img {
    width: auto;
    height: 100%;
}

.form-style .avatarInput {
    display: inline-block;
    width: 70%;
    vertical-align: bottom;
}

.form-style ol {
	margin-left: 30px;
}

.form-style h2 {
	margin: 20px 0px;
}

.form-style h3 {
	margin: 15px 0px;
}

.form-style div.form-step {
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

.form-style label {
	display: inline-block;
	margin-right: 2%;
	margin-bottom: 20px;
}

.form-style label.f100 {
	width: 96%;
}

.form-style label.f50 {
	width: 47%;
}

.form-style label.f30 {
	width: 29%;
}

.form-style label.f5 {
	width: 4%;
	margin-right: 0px;
}

.form-style label span {
	display: block;
	font-size: 12px;
	text-transform: uppercase;
}

.form-ayuda{
    font-size: 11px !important;
    text-transform: none !important;
}


.form-style label input,
.form-style label select,
.form-style label textarea,
.form-style button.ms-choice {
	padding: 5px 10px;
	font-family: 'gobCl';
    font-size: 13px;
    border-radius: 5px;
    border: 1px solid #949494;
    border-radius: 5px;
}

.form-style label input.required {
    border: 1px solid #FF4646;
}

.form-style label input,
.form-style label select,
.form-style button.ms-choice {
	width: 100%;
	height: 35px;
}

.form-style label input[type="checkbox"] {
	width: 15px;
    height: 50px;
    vertical-align: middle;
    margin-right: 15px;
}

.form-style .mje-error {
    border: 2px dotted #cd5c5c;
    margin-bottom: 20px;
    height: auto;
    width: 97%;
    padding: 10px;
}

.form-style .lista-miembros div.disabled {
	border: 2px dotted #3c6487;
    margin-bottom: -2px;
    height: auto;
    width: 100%;
}

.form-style .lista-miembros div.disabled input {
	background-color: #f9f9f9;
    color: #000000;
    border: 0;
}

.form-style .lista-miembros div.disabled label {
    margin-bottom: 0px;
    padding: 2px 0px;
}

.form-style .lista-miembros div.disabled .icon {
	position: absolute;
    right: 0;
    margin-top: 5px;
}

.form-style .lista-miembros div.disabled img {
	vertical-align: middle;
	cursor: pointer;
    margin-right: 8px;
    right: 0;
}

@media only screen and (max-width: 1200px){.form-style div.disabled img {width: 15px;}}
@media only screen and (max-width: 1000px){.form-style div.disabled img {width: 10px;}}

.form-style label textarea {
	min-width: 100%;
	min-height: 130px;
	max-width: 100%;
	max-height: 300px;
}

.form-style label textarea[readonly] {
    margin-left: 15px;
    width: 100%;
    max-height: 130px;
}

.form-style label a.add,
.form-style label a.delete {
    padding: 6px 13px;
    color: #fff;
    border-radius: 5px;
}

.form-style label a.add {
	background-color: #447541;
}

.form-style label a.delete {
	background-color: #e20000;
}

.form-style label a.add:hover {
	background-color: #A0D09C;
}

.form-style label a.delete:hover {
	background-color: #f97575;
}

.form-style a.boton,
.form-style input.boton,
.form-style button.boton {
    display: inline-block;
    background-color: #3c6487;
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    border: 0px;
    border-radius: 5px;
    margin: 0px 0px 30px 15px;
    float: right;
    width: 150px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}
.form-style a.boton:hover,
.form-style input.boton:hover,
.form-style button.boton:hover {
    background-color: #9bb4cd;
}

.form-style a.boton-buscar,
.form-style input.boton-buscar,
.form-style button.boton-buscar {
    display: inline-block;
    background-color: #3c6487;
    color: #fff;
    font-size: 13px;
    padding: 10px 10px;
    border: 0px;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    width: 180px;
    height: 35px;
    text-align: center;
    cursor: pointer;
}

.form-style a.boton-buscar:hover,
.form-style input.boton-buscar:hover,
.form-style button.boton-buscar:hover {
    background-color: #9bb4cd;
}


.form-style a.boton-add,
.form-style button.boton-add {
    display: block;
    background-color: #223753;
    color: #fff;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 0px 0px 25px 0px;
    width: 200px;
    text-align: center;
}

.form-style a.boton-add:hover,
.form-style button.boton-add:hover {
    background-color: #3c6487;
}

.form-style div.ms-parent {
	width: 100% !important;
	margin-top: 0px;
}

.form-style .ms-choice > span.placeholder {
	font-family: 'gobCl';
    font-size: 13px;
    text-transform: none;
    color: #000;
    padding-left: 5px
}

.form-style .ms-choice > div {
	right: 0;
}

.form-style .ms-drop.bottom {
	width: 100%;
}

.form-style .ms-drop label {
    padding: 0px;
    margin-bottom: 0px;
}

.form-style .ms-drop input[type="checkbox"] {
    float: left;
    height: 15px;
    width: 15px;
    margin-left: -8px;
}

.form-style .ms-drop .texto {
    font-size: 13px;
    text-transform: none;
    margin-bottom: 2px;
    color: #000;
}

.form-style .ms-drop ul {
    max-height: 320px !important;
}

.form-style .ms-choice span {
    text-transform: none;
    font-size: 13px;
    width: 95%;
    color: #000;
}

/* Tabla con informacion ingresada de formularios Fancybox */
.form-style div.lista-form {
    width: 100%;
    margin-bottom: 15px;
}

.form-style div.lista-form div.info {
    display: block;
    border: 2px dotted #3c6487;
    padding: 15px;
    margin-top: -2px;
}

.form-style div.lista-form div.info div.row {
    width: 100%;
}

.form-style div.lista-form div.info div.row span {
    vertical-align: top;
    display: inline-block;
}

.form-style div.lista-form div.info div.row span:first-child {
    width: 18%;
}

.form-style div.lista-form div.info div.row span:nth-child(2) {
    width: 70%;
}

.form-style div.lista-form div.info div.row span:nth-child(3) {
    width: 11%;
    text-align: right;
}

.form-style div.lista-form div.info div.row span:nth-child(3) img {
    margin-right: 8px;
    height: 15px;
}

.form-style div.lista-form div.info div.row span input
.form-style div.lista-form div.info div.row span textarea {
    width: 100%;
    display: block;
    font-family: 'gobCL';
    font-size: 15px;
}

.form-style div.lista-form div.info div.row span input[readonly],
.form-style div.lista-form div.info div.row span textarea[readonly] {
    width: 100%;
    display: block;
    font-family: 'gobCL';
    font-size: 15px;
    border: 0;
    background-color: #ffffff;
    resize: none;
    overflow: hidden;
    color: #545454;
}

.form-style .edit-perfil input#email {
    background-color: #EBEBE4;
    color: #545454;
}

.form-style div.lista-form div.info div.row span input#archivo-nombre_archivo {
    width: 80%;
    display: inline-block;
}

.form-style div.lista-form div.info div.disabled {
    border: 2px dotted #3c6487;
    margin-bottom: -2px;
}

.form-style div.lista-form div.info div.disabled input {
    background-color: #ffffff;
    color: #545454;
    border: 0px;
    font-size: 15px;
}

.form-style div.lista-form div.info div.disabled span.icon {
    display: none;
}

.form-style div.lista-form div.info div.disabled label {
    margin-bottom: 0px;
    width: 30%;
}

.form-style div.lista-form div.info span.no-info {
    display: block;
    color: #545454;
    font-style: italic;
}

.recomendacion {
    padding: 30px 50px;
}

.recomendacion .navs {
    display: table;
    margin: 0 auto;
}

.recomendacion .nav {
    display: inline-block;
    padding: 30px;
    cursor: pointer;
}

.recomendacion .nav img {
    display: block;
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.recomendacion .nav span {
    text-align: center;
    color: #223753;
}

.recomendacion a.boton {
    display: block;
    background-color: #3c6487;
    color: #fff;
    font-size: 17px;
    padding: 15px 15px;
    border: 0px;
    border-radius: 5px;
    width: 180px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.recomendacion a.boton:hover {
    background-color: #9bb4cd;
}

.ico-descargar-azul {
    padding-left: 20px;
    background: url(../images/descargar-azul.png) center left no-repeat;
}

/* RECUPERAR CONTRASENA */
.popup.cntr {
    padding: 40px;
    text-align: center;
}

.msg-popup {
    padding: 100px 50px;
    width: 70%;
    margin: 0 auto;
}

.msg-popup p.msg {
    text-align: center;
    font-size: 25px !important;
    margin-bottom: 30px;
}

.msg-popup .botones {
    text-align: center;
}

.msg-popup a.boton-azul {
    display: inline-block;
    background-color: #3c6487;
    color: #fff;
    font-size: 17px;
    padding: 15px 15px;
    border: 0px;
    border-radius: 5px;
    margin: 0px 0px 40px 15px;
    width: 180px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.msg-popup a.boton-azul:hover {
    background-color: #9bb4cd;
}

.tooltip {
    position: relative;
    display: inline-block !important;
}

.tooltip img {
    width: 20px;
    vertical-align: bottom;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #223753;
    color: #fff;
    text-align: justify;
    border-radius: 6px;
    padding: 10px;
    text-transform: none;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ayuda_campos
{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: none !important;
    font-size: 8px;
    font-style: italic;
}

.ayuda_campos img {
    width: 20px;
    vertical-align: top;
}