.jpages {
    display: block;
    position: relative;
    margin: 5px 0;
    width: 100%
    font-size:15px;
}
.holder {
    width: 60%;
    display: inline-block;
}
.holder a {
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#dcebf5;
    color:#000;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#233755;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin:0 5px;
}

form.quantity {
    width: 38%;
    display: inline-block;
    text-align: right;
}