@import url(font.css);
	
body {font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;}

.pdf {
	padding: 15px 50px;
}

.pdf table {
	width: 100%;
}

.pdf .header img {
	width: 100px;
}

.pdf .header h3 {
	font-size: 12px;
	line-height: 0px;
}

.pdf table.consentimiento,
.pdf table.formulario {
	padding-top: 20px;
}

.pdf table.consentimiento td,
.pdf table.formulario td {
	border: 1px solid #000;
	padding: 5px;
	font-size: 12px;
}

.pdf table.consentimiento td.encabezado, 
.pdf table.formulario td.encabezado {
	background-color: #233755;
	color: #fff;
}

.pdf div.fecha {
	display: block;
    padding: 20px 5px;
    float: right;
    font-size: 12px;
}