@import url(font.css);

*{
	margin:0px;
	padding:0px;}
	
body {
	font-family: "gobCL", Tahoma, Verdana, Segoe, sans-serif;}

a {
	text-decoration:none;
	cursor: pointer;
}	

ul{
	list-style-type:none;
}

blockquote {
	margin: 20px 0;
    padding: 20px;
    background-color: aliceblue;
    border-left: #3c6487 solid 5px;
    line-height: 24px;
    font-size: 17px;
}

h2 {
	display: block;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #223753;
}

h3 {
	display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: #223753;
}

.container{
	width:100%;
	height:auto;
	position:relative;
	background:#fff;}
	
.content{
	width:960px;
	height:auto;
	position:relative;
	margin:0px auto;}
	
.content:after{
	display:block;
	clear:both;
	content:'';}

.antecedentes{
	color: #223753;
    text-align: justify;
}

a.ver-destacados {
    background: #3c6487;
    color: #fff !important;
    padding: 10px 10px;
    display: block;
    text-align: center;
    margin: 30px 150px;
    border-radius: 5px;
}
	
	
/*HEADER*/	
.header{
	width:100%;
	height:180px;
	background-color:#3c6487;
	position:relative;
	border-bottom:1px solid #fff;}
	
.logo{
	width:100%;
	float:left;
	height:100%;
	display:block;
	padding:68px 0px 0px 0px;
	background:url(../images/barra-logo.png) top left no-repeat;}
	
.logo a{
	display:block;
	width:100%;
	height:100%;}
	
.logo a:after{
	display:block;
	clear:both;
	content:'';}
	
.logo a img{
	display:block;
	width:160px;
	float:left;
	margin-right:5px;}
	
.logo a span{
	    display: block;
    font-weight: 300;
    font-size: 22px;
    color: #fff;
    border-left: 1px solid rgba(255,255,255,0.5);
    padding: 10px 0px 18px 18px;
    float: left;
    width: 50%;}


/*MENU*/
.menu{
	width:100%;
	height:48px;
	border-bottom:1px solid #fff;
	position:relative;
	background:#9bb4cd;}
	
.menu-responsive{
	position:absolute;
	right:0px;
	top:0px;
	width:50px;
	height:50px;
	display:none;
	background:#9db5cc url(../images/ico-menu.png) center center no-repeat;}
	
.menu ul.content{
	display:block;
	height:100%;}
	
.menu ul li{
	float:left;
	position:relative;
	display:table;
	height:100%;}
	
.menu ul li.l16 {
	width:18%;
}
.menu ul li.l8 {
	width:10%;
}
	
.menu ul li a{
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	font-size:15px;
	line-height:16px;
	padding:0px 10px;
	box-sizing:border-box;
	}
	
.menu ul li .b-hover{
	display:none;
	width:100%;
	height:6px;
	background:#3e6487;
	position:absolute;
	bottom:-1px;
	left:0px;
	transition: 0.3s;}
	
.menu ul li:hover .b-hover{
	display:block;}
	

/*SUB-MENU*/
.menu ul li ul.sb-menu{
	display:none;
	position:absolute;
	top:48px;
	height:auto;
	left:-150px;
	background:#3e6487;
	z-index:99999;
	transition: 0.3s;
    opacity: 1;}
	
.menu ul li:hover ul.sb-menu{
	display:block;}

.menu ul li ul.sb-mn-one{ width:260px; left:-45px;}	
.menu ul li ul.sb-mn-two{ width:450px;}	
.menu ul li ul.sb-mn-three{ width:620px;}

.menu ul li ul.sb-menu:after{
	display:block;
	clear:both;
	content:'';}
	
.menu ul li ul.sb-menu li{
	width:100%;
	float:left;
	display:block;
	height:100%;
	box-sizing:border-box;
	padding:15px 20px 20px 20px;}
	
.menu ul li ul.sb-menu li.db-link{
	width:66%;}
	
.menu ul li ul.sb-mn-two li{
	width:50%;}
	
.menu ul li ul.sb-menu li .sb-tit{
	font-size:16px;
	font-weight:400;
	color:#fff;
	display:block;
	width:100%;
	padding:5px 0px;
	line-height:16px;
	border-bottom:1px solid rgba(255,255,255,0.5);}
	
.menu ul li ul.sb-menu li .sb-cont{
	width:100%;}
	
.menu ul li ul.sb-menu li.db-link .sb-cont{
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:0px 0px 0px 10px;}
	
.menu ul li ul.sb-menu li.db-link .sb-tit{
	box-sizing:border-box;
	padding-right:5%;}

.menu ul li ul.sb-menu li .sb-cont .sb-link{
	color:rgba(255,255,255,0.6);
	display:block;
	width:100%;
	padding:8px 0px 8px 12px ;
	border-bottom:1px solid rgba(255,255,255,0.6);
	text-align:left;}
	
.menu ul li ul.sb-menu li .sb-cont .sb-more{
	border-bottom:0px;
	font-size:18px;}
	
.menu ul li ul.sb-menu li.db-link .sb-cont .sb-link{
	border-bottom:1px solid rgba(255,255,255,0.6);}	
	
.menu ul li ul.sb-menu li .sb-cont .sb-link:hover{
	color:rgba(255,255,255,1);}

.menu input.buscar{
	width:94% !important;
	background:#fff url(../images/ico-search.png) right center no-repeat;
	border:none;
	display:block;
	color:#223755;
	box-sizing:border-box;
	padding:0px 30px 0px 8px;
	margin: 10px 8px 2px 8px;
}

.menu a.advanced {
	font-size: 13px;
    padding-bottom: 5px;
    color: rgba(255,255,255,0.6);
}
		
	
/*BANNNER*/	
.banner{
	width:100%;
	height:auto;
	overflow:hidden;}

.banner .banner-title {
	display: block;
    position: absolute;
    color: #fff;
    font-size: 3vw;
    font-weight: 600;
    bottom: 3vw;
    margin-left: 4vw;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    max-width: 100%;
}

.banner .banner-title a {
	color: #fff;
}	
	
.tit{
	width:auto;
	display:inline-block;
	padding:6px 10px;
	margin-bottom:20px;
	background:#223753;
	color:#fff;
	font-size:18px;
	font-weight:400;}
	
.left{ float:left;}
.right{float:right;}	

.c-70{width:70%;}
.c-25{width:25%;}
.c-65{width:65%;}
.c-30{width:32%;}
.c-mtop10{ margin-top:10px;}
.c-mtop30{ margin-top:30px;}
.c-mtop50{ margin-top:50px;}
.c-mbottom80{ margin-bottom:80px;}
	
p{
	color:#223753;
	text-align:justify;
	font-size:17px !important;
	line-height:22px;
	white-space: pre-line;
	margin-top: 22px;}

p a {color: #3c6487;}
p a:hover{text-decoration: underline;}
}
	
.info{
	display:block;
	width:100%;
	/* margin-bottom:5px;*/}
	
.info:after{
	display:block;
	clear:both;
	content:'';}
	
.info .c-img{
	width:78px;
	height:78px;
	overflow:hidden;
	float:left;
	position: relative;}
     
.info .c-img img.avatar{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);}
 
.info .c-img img.avatar.landscape{
	width: auto;
	height: 100%;
    opacity: 0.8;
}
	
.info .txt{
	width: 85%;
	float: left;
	margin-left: 15px;
}

.info .txt .i-tit{
	display:block;
	width:100%;
	font-size:22px;
	font-weight:700;
	color:#223753;}
	
.info .txt .desc{
	font-size:14px;
	line-height:18px;
	color:#223753;}

.info .txt a{
	color: #223753;
	background-color:#DEEBFA;
	opacity: .7;
}	

.info .txt a:hover {
	background-color:#DEEBFA;
	opacity: 1;
}

.info .txt .pin{
	padding-left:12px;
	background:url(../images/pin.png) center left no-repeat;
}

.ico-descargar {
	padding-left:20px;
	background:url(../images/descargar.png) center left no-repeat;
}

.ico-descargar-azul {
	padding-left:20px;
	background:url(../images/descargar-azul.png) center left no-repeat;
}

.ico-vermas {
	padding-left:20px;
	max-width: 16px;
	background:url(../images/btn_png.png);
}

.inv_detalle {
	margin-top: 20px;
	color: #223753;
}

.inv_detalle ul {
	list-style-type: square;
	margin-left: 20px;
}

.lista {
	list-style-type: square;
    margin: 10px 0px 0px 20px;
    color: #223753;
    text-align: justify;
    font-size: 17px;
}

.content .text a {
	color: #3c6487;
}

.content .text a:hover {
	text-decoration: underline;
}

.content .tit2 {
    width: auto;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    color: #406585;
}

.content .home_solicitud {
	margin: 20px 0px 60px 0px;
    display: block;
}

.content .col40 {
	display: inline-block;
    width: 39%;
}

.content .col60 {
	display: inline-block;
    width: 60%;
}

.content .col40 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content .btn-home {
	background-color: #ed6e6e;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 7%;
}

.content .btn-home:hover {
	background-color: #e68484;
}

.content .btn-blue {
    display: inline-block;
    background-color: #3c6487;
    color: #fff;
    font-size: 15px;
    padding: 15px 15px;
    border: 0px;
    border-radius: 5px;
    margin: 10px 15px 0px 0px;
    float: left;
    width: 180px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.content .btn-blue:hover {
	background-color: #9bb4cd;
}


.content-disclaimer {
    width: 100%;
    background-color: #7899B5;
    height: auto;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    padding-bottom: 40px;
}

.disclaimer {
    width: 960px;
    height: auto;
    padding: 40px 0;
    position: relative;
    margin: 0px auto;
}

.w200 {
    width: 200px;
}

.w700 {
    width: 700px;
}

.cwhite {
    color: white;
}

.pin-avatar {
	width: 35px !important;
	margin: -37% 0px 0px -30%;
}

.pin-block {
	position: relative;
    float: right;
    margin-right: 10px;
    padding-left: 10px;
}

.doc-thv {
	display: inline-block;
    width: 150px;
    padding: 15px;
    text-align: center;
}

.doc-thv span {
	display: block;
}

	
/*TABS*/
.cont-tabs{
	background:#ddebf5;
	height:500px;
	position:relative;
	margin-top:100px;
	box-sizing:border-box;
	padding:20px;
	position:relative;}
	
.options{
	position:absolute;
	top:-44px;
	left:0px;
	background:#ddebf5;}
	
.m-option{
	width: 140px;
	height: 64px;
	display: block;
	float: left;
	box-sizing: border-box;
	padding: 22px 10px;
	text-align: center;
	color:#213754;
	font-weight:700;
	font-size:13px;
	text-transform:uppercase;
	transition: 0.3s;
}

.m-active, .m-option:hover{
	background:#213754;
	color:#fff;}

.tabs{
	width:100%;
	height:100%;
	background:#CCC;}
	
	
/*ELEMENTOS*/
.element{
	position: relative;
	width: 16.8%;
	padding-top: 16.8%;
	overflow: hidden;
	display: inline-block;
	margin: 0px 1.4%;
	margin-top: 25px;
	cursor: pointer;}
	
.element:last-child{
	margin-right:0px;}
	
.element img{
	opacity: .85; 
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);}

.element img.landscape{
	height: 100%;
	width: auto;}

	
.element span{
	display:block;
	position:absolute;
	bottom:0px;
	left:0px;
	height:5px;
	background:rgba(60,100,135,1);
	width:100%;
	z-index:999;
	transition: 0.3s;
	color:rgba(255,255,255,0);
	font-size:18px;
	font-weight:400;
	overflow:hidden;
	padding:0px 15px;
	line-height:18px;
	box-sizing:border-box;}
	
.element:hover span{
	padding:15px;
	height:100%;
	color:rgba(255,255,255,1);
	background:rgba(60,100,135,0.75);}
	
/*BLOCK*/

.block{
	/* height:250px;*/
	display:block;
	background:#3c6487;
	color: #ffffff;
	font-size: 14px;
	margin-top: 22px;
	}

.block.elemento {
	padding: 0px 10px 5px 10px;
}

.block .sb-tit{
	font-size:16px;
	font-weight:400;
	color:#fff;
	display:block;
	width:100%;
	padding:5px 0px;
	line-height:16px;
	border-bottom:1px solid rgba(255,255,255,0.3);}

.block a {
	color: #ffffff;
	opacity: .8;
}	

.block a:hover {
	opacity:1;
}

.block ul {
	margin:10px;
	list-style:none;
}

.block li {
	margin-left:10px;
	padding: 8px;
	border-bottom:1px solid rgba(255,255,255,0.3);
}


/*Encargados*/

.ico-mail{    
	display:block; 
	padding-left:20px;
	background: url(../images/mail.png) center left no-repeat; }

.ico-fono{     
	padding-left:20px;
	background: url(../images/fono.png) center left no-repeat; }

.ico-lugar{     
	padding-left:20px;
	background: url(../images/lugar.png) center left no-repeat; }

.ico-hora{     
	padding-left:20px;
	background: url(../images/hora.png) center left no-repeat; }



	
/*FOOTER*/
.footer{
	width:100%;
	height:auto;
	background:#3c6487;
	border-top:5px solid #9bb4cd;
	margin-top: 70px;}
	
.footer .logoCNCA{
	width:144px;
	display:block;
	margin-right:40px;}
	
.logo-unesco, .logo-patrimonio{
	margin-top:30px;
	width:100px;}
	
.footer .logoCNCA img, .logo-unesco img, .logo-patrimonio img{
	width:100%;}
	
.menu-footer{
	position:relative;
	margin-top:20px;}
	
.menu-footer li{
	float:left;
	display:block;}
	
.menu-footer li a{
	display:block;
	padding:0px 20px;
	border-right:1px solid rgba(255,255,255,0.75);
	color:rgba(255,255,255,0.75);
	font-size:11px;
	text-transform:uppercase;
	transition: 0.3s;}
	
.menu-footer li:last-child a{
	border-right:0px;}
	
.menu-footer li a:hover{
	color:rgba(255,255,255,1);
	text-decoration:underline;}


/*REDES MOSAICO*/

.redes-mosaico{
	color:#475156;
	overflow:hidden;
	padding:0 10px 0 10px;
	background-color: rgba(155, 180, 205, .1);
	margin-top: 60px;
	margin-bottom: -70px;
}

.redes-mosaico .wrap {
	width: 960px;
    height: auto;
    position: relative;
    margin: 0px auto;}

.redes-mosaico .wrap ul{
	margin:6px 0 0 0;
	padding:0;
	display:block;
}
.redes-mosaico .wrap ul li{
	float:none;
	display:block;
	overflow:hidden;
}

.redes-mosaico ul {
    float: right;
}

.redes-mosaico ul li {
    float: left !important;
    margin: 5px 0px 5px 10px;
    list-style-type: none;
    width: 150px;
}

.redes-mosaico h4{
	color:#475156;
	float:left;
	margin:10px 0 20px 20px !important;
	padding:10px 0 0;
	font-size:14px !important;
	width:100px;
}

.redes-mosaico ul li a .texto {
	float: left;
}

.redes-mosaico ul li a .texto span.red {
    font-size: 18px;
    color: #2E353A;
    display: block;
}

.c1{
	display:none;
}

.usuario{
	color:#606c71;
}

.redes-mosaico h4{
	color:#475156;
	float:left;
	margin:20px 25px 0 20px;
	padding:10px 0 0;
	font-size:18px;
}

.redes-mosaico ul{
	float:left;
}

.redes-mosaico ul li{
	float:left !important;
	margin:5px 0px 5px 10px;
	list-style-type: none;
	width:150px;
}

.redes-mosaico ul li a{
	display:block;
}

.redes-mosaico ul li a span{
	display:block;
}

.redes-mosaico ul li a span.icono{
	background:url(../images/lista-redes-sprite-2x.png);
	background-size:330px auto;
	width:30px;
	height:30px;
	float:left;
	margin:5px 10px 0 0;
}

.redes-mosaico ul li a .texto{
	float:left;
}

.redes-mosaico ul li a .texto span{
	line-height:130%;
}

.redes-mosaico ul li a .texto span.red{
	font-size:15px;
	color:#2E353A;
}

.redes-mosaico ul li a .texto span.usuario{
	font-size:12px;
	font-style:italic;
}

.redes-mosaico ul li.facebook a .icono{
	background-position:0 0;
}
.redes-mosaico ul li.facebook a:hover .icono{
	background-position:0 -60px;
}
.redes-mosaico ul li.twitter a .icono{
	background-position:-30px 0;
}
.redes-mosaico ul li.twitter a:hover .icono{
	background-position:-30px -60px;
}
.redes-mosaico ul li.flickr a .icono{
	background-position:-60px 0;
}
.redes-mosaico ul li.flickr a:hover .icono{
	background-position:-60px -60px;
}
.redes-mosaico ul li.youtube a .icono{
	background-position:-90px 0;
}
.redes-mosaico ul li.youtube a:hover .icono{
	background-position:-90px -60px;
}
.redes-mosaico ul li.instagram a .icono{
	background-position:-120px 0;
}
.redes-mosaico ul li.instagram a:hover .icono{
	background-position:-120px -60px;
}
.redes-mosaico ul li.pinterest a .icono{
	background-position:-150px 0;
}
.redes-mosaico ul li.pinterest a:hover .icono{
	background-position:-150px -60px;
}
.redes-mosaico ul li.vimeo a .icono{
	background-position:-180px 0;
}
.redes-mosaico ul li.vimeo a:hover .icono{
	background-position:-180px -60px;
}
.redes-mosaico ul li.linkedin a .icono{
	background-position:-210px 0;
}
.redes-mosaico ul li.linkedin a:hover .icono{
	background-position:-210px -60px;
}
.redes-mosaico ul li.slideshare a .icono{
	background-position:-240px 0;
}
.redes-mosaico ul li.slideshare a:hover .icono{
	background-position:-240px -60px;
}
.redes-mosaico ul li.scribd a .icono{
	background-position:-270px 0;
}
.redes-mosaico ul li.scribd a:hover .icono{
	background-position:-270px -60px;
}
.redes-mosaico ul li.soundcloud a .icono{
	background-position:-300px 0;
}
.redes-mosaico ul li.soundcloud a:hover .icono{
	background-position:-300px -60px;
}

.clear {
    clear: both;
}	

* {
    box-sizing: border-box;
}

.pin-unesco {
	background: url(../images/pin-unesco.png) top right no-repeat;
}


/*  SLIDER THV Y PROCESO SALVAGUARDIA */

.mi-slider {
	margin: 30px 0px;
	position: relative;
    display: block;
}

.mi-slider ul {
	text-align: center;
	margin-bottom: 15px;
}

.mi-slider ul li {
	display: inline;
}

.mi-slider nav {
	position: relative;
	text-align: center;
	max-width: 100%;
	border-top: 5px solid #3c6487;
}

.mi-slider nav a {
	opacity: .7;
	font-size: 18px;
    font-weight: bold;
	display: inline-block;
	padding: 35px 0px;
	position: relative;
	color: #3c6487;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.mi-slider nav a.mi-selected {
	opacity: 1;
}

.mi-slider nav a:hover {
	opacity: 1;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
	content: '';
	position: absolute;
	top: -5px;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
	border-color: transparent;
	border-top-color: #fff;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
	border-color: transparent;
	border-top-color: #3c6487;
	border-width: 27px;
	left: 50%;
	margin-left: -27px;
}

.mi-slider.salvaguardia ul li {
	display: inline-block;
}

.mi-slider ul li:first-child {
	width: 25%;
	text-align: left;
    vertical-align: middle;
}

.mi-slider ul li:nth-child(2) {
	width: 70%;
	text-align: left;
    vertical-align: middle;
}

.mi-slider.salvaguardia nav a {
	width: 18%;
}

.mi-slider.salvaguardia a.ver-mas {
	float: right;
    background: #9bb4cd;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    margin-top: 12px !important;
}

.mi-slider.salvaguardia a.ver-mas:hover {
	background: #233755;
}

.mi-slider.thv nav a {
	width: 10%;
}

.mi-slider.thv .element {
	width: 14%;
    padding-top: 14%;
    margin: 2% 0.8%;
}

.mi-slider.thv .element span {
	font-size: 15px;
	text-align: left;
}

/* BUSCADOR */

.search-filter {
	display: block;
    padding: 10px 0;
    margin-bottom: 20px;
}

.search-filter button.boton-filtrar {
    background-color: #9bb4cd;
    color: #fff;
    padding: 6px 18px;
    border: 0px;
    border-radius: 5px;
    font-family: 'gobCL';
    font-size: 14px;
    cursor: pointer;
    vertical-align: bottom;
}

.search-filter button.boton-filtrar:hover {
	background-color: #233755;
}

.search-tab {
	padding: 15px 0 0 0;
}

.search-tab a {
	display: inline-block;
	color: #fff;
    padding: 5px 20px;
    margin: 5px;
    background-color: #9bb4cd;
    font-size: 14px;
    border-radius: 20px;
}

.search-tab a:hover,
.search-tab a.selected {
	background-color: #3c6487;
}

.search-results {
	padding: 40px 0 0 0;
}

.search-results .i-tit a,
.search-results .i-tit a:hover {
	opacity: 1;
	background-color: transparent;
}


/* MULTIPLE SELECT */

.ms-parent {
    display: inline-table;
    position: relative;
    vertical-align: middle;
    width: 300px !important;
    margin-top: 10px;
}

.ms-choice {
    display: inline-block;
    width: 300px;
    height: 30px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #9bb4cd;
    text-align: left;
    white-space: nowrap;
    line-height: 26px;
    color: #444;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 10px;
}

input.ms-choice {
	padding-left: 10px;
	font-size: 14px;
	font-family: 'gobCL';
	color: #233755;
}

.ms-choice.disabled {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.ms-choice > span {
    position: inherit;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 8px;
    width: 100%;
    font-size: 11px;
}

.ms-choice > span.placeholder {
    font-size: 14px;
    color: #3c6487;
    width: 240px;
    font-family: 'gobCL';
}

.ms-choice > div {
    position: absolute;
    top: 2px;
    margin-left: 280px;
    width: 20px;
    height: 25px;
    background: url('../images/multiple-select.png') left top no-repeat;*/
}

.ms-choice > div.open {
    background: url('../images/multiple-select.png') right top no-repeat;
}

.ms-drop {
    width: 100%;
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    background: #fff;
    color: #233755;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.ms-drop.bottom {
    top: 100%;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    width: 97%;
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-search {
    display: inline-block;
    margin: 0;
    min-height: 26px;
    padding: 4px;
    position: relative;
    white-space: nowrap;
    width: 100%;
    z-index: 10000;
}

.ms-search input {
    width: 100%;
    height: auto !important;
    min-height: 24px;
    padding: 0 20px 0 5px;
    margin: 0;
    outline: 0;
    font-size: 10px;
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #fff url('../images/multiple-select.png') no-repeat 100% -22px;
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, -ms-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
    background: url('../images/multiple-select.png') no-repeat 100% -22px, linear-gradient(top, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.ms-drop ul {
    overflow: auto;
    margin: 0;
    padding: 5px 8px;
    max-height: 150px !important;
}

.ms-drop ul > li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-size: 13px;
    margin-top: 0px;
    font-weight: normal;
    display: block;
    white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: text-top;
    margin-right: 5px;
}

.ms-drop .ms-no-results {
    display: none;
}

.ms-drop .texto {
    font-size: 13px;
}

/* LOGIN FORM */
div.header .registered {
    position: absolute;
    margin-top: 25px;
    right: 0;
}

div.header .registered input,
div.header .registered button {
	display: block;
    width: 200px;
    margin: 5px 5px 0px 5px;
    border: 0px;
    border-radius: 3px;
    padding: 0px 7px;
    height: 25px;
    font-size: 13px;
    font-family: 'gobCL';
}

div.header .registered input {
    background-color: #dcebf5;
}

div.header .registered button {
    background-color: #223753;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

div.header .registered a {
	font-size: 12px;
    color: #fff;
    text-decoration: underline;
    padding-right: 5px;
}

div.header .registered div.option {
	float: right;
}

div.header .registered .user-text {
	display: inline-block;
	padding-right: 10px;
	vertical-align: super;
}

div.header .registered .name {
	color: #fff;
    vertical-align: middle;
}

div.header .registered .user-options {
	display: block;
}

div.header .registered .name span {
	display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

div.header .registered div.avatar60 {
	display: inline-block;
	cursor: pointer;
}

div.header .registered img.imgAvatar {
	width: 75px;
}

/* PERFIL DE USUARIO */

.a85 {width: 85px;padding-top: 85px;}
.a120 {width: 120px;padding-top: 120px;}

.avatar {
	position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ffffff;
}

.avatar img{
	opacity: .85; 
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.avatar img.landscape{
	height: 100%;
	width: auto;
}

#perfil-usuario a {
	color: #3c6487;
	text-decoration: underline
}

#perfil-usuario button {
	display: block;
    float: right;
    padding: 15px 30px;
    margin-top: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #223753;
    color: #fff;
    font-size: 18px;
    font-family: 'gobCL';
    cursor: pointer;
}

#perfil-usuario button:hover {
    background-color: #3c6487;
}

#perfil-usuario p.que-es {
	font-size: 18px !important;
}

#perfil-usuario .info-user .info-text {
	padding: 10px 0px 0px 20px;
    display: inline-block;
    vertical-align: top;
}

#perfil-usuario .info-user .info-text span {
	display: block;
	color: #223753;
}

#perfil-usuario .info-user .info-text span.nombre {
	font-size: 30px;
    font-weight: 600;
}

#perfil-usuario .info-user .info-text a {
    font-size: 14px;
}

#perfil-usuario .lista-solicitud {
	padding-bottom: 20px;
}

#perfil-usuario .lista-solicitud div.line {
	width: 100%;
    border: 0.5px solid #e2e2e2;
}

#perfil-usuario .lista-solicitud div.solicitud {
	width: 100%;
}

#perfil-usuario .lista-solicitud div.titulos {
	font-weight: 600;
	font-size: 18px;
}

#perfil-usuario .lista-solicitud div.titulos_nuevos {
	font-weight: 600;
	font-size: 15px;
}

#perfil-usuario .lista-solicitud span {
	color: #223753;
	display: inline-block;
	padding: 15px 5px;
	vertical-align: middle;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#perfil-usuario .lista-solicitud span.w35 {width:35%;}
#perfil-usuario .lista-solicitud span.w30 {width:30%;}
#perfil-usuario .lista-solicitud span.w25 {width:25%;}
#perfil-usuario .lista-solicitud span.w20 {width:20%;}
#perfil-usuario .lista-solicitud span.w15 {width:15%;}
#perfil-usuario .lista-solicitud span.w10 {width:10%;}
#perfil-usuario .lista-solicitud span.w8 {width:8%;text-align: center;}
#perfil-usuario .lista-solicitud span.sin-solicitud {width:100%;}

#perfil-usuario .lista-solicitud span.detalles img {
	cursor: pointer;
	padding: 0px 3px;
}

#perfil-usuario .holder {
	width: 100%;
    text-align: right;
}

#perfil-usuario .holder a {
	text-decoration: none;
	color: #223753;
}


/* COMITE ASESOR */

div#miembros-comite {
	padding-top: 25px;
}

ul.comite {
    font-size: 0;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

ul.comite li {
	vertical-align: top;
  	display: inline-block;
  	width: 30%;
  	margin: 1%;
    padding-top: 15px;
}

ul.comite img {
	width: 120px;
	height: 120px;
	opacity: 0.8;
	border-radius: 100px;
	margin-bottom: 10px;
}

ul.comite p {
	margin-top: 4px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
	.mi-slider.thv .element {
		width: 30%;
		padding-top: 30%;
	}
}

@media only screen and (max-width: 1000px) {
.content{width:95%;}
.c-100{ width:100%;}
.element{ width:16.6%}
.menu ul li.home{ width:11.6666%}
.menu ul li.PCI{ width:21.6666%}
.logo a img{width:152px;}
.menu-responsive{display:none;}

.info .txt{
	width:80%}
}

@media only screen and (max-width: 900px) {
.logo-unesco, .logo-patrimonio{
	width:70px;}

.footer .logoCNCA{
	width:130px;}
	
.menu-footer li a {
    padding: 0px 15px;}
	
.logo a img{width:140px;}
}

@media only screen and (max-width: 800px) {
.header{ height:140px;}
.logo{ padding-top:45px;}
.search{ width:180px;}
.logo-unesco, .logo-patrimonio{
	width:50px;}

.footer .logoCNCA{
	width:95px;
	margin-right:10px;}
	
.menu-footer li a {
    padding: 0px 10px;
	font-size:10px;}
	
.logo a img{
	width:120px;
	padding-top:10px;}
	
.logo a span{
	font-size:18px;}

.menu-responsive{display:none;}

.info .txt{
	width:75%}
	
.info .txt .i-tit{
	font-size:18px;}
	
.menu ul li ul.sb-menu{
	left:-70px;}
	
.menu ul li:hover ul.sb-menu{
	display:block;}
	
.menu ul li ul.sb-mn-two{ width:370px;}	
.menu ul li ul.sb-mn-three{ width:540px;}
.menu ul li ul.sb-responsive{ left:-150px;}

.menu ul li ul.sb-menu li .sb-tit{
	font-size:14px;}
}

@media only screen and (max-width: 700px){
.menu ul li a{
	font-size:11px;}
	
.logo a img{width:100px;}

.menu-responsive{display:none;}

.info .txt{
	width:70%}

}

@media only screen and (max-width: 600px){
.header{ height:75px;}

.menu-responsive{
	height:75px;
	display:block;}
	
.content{ width:90%;}
.c-100{ width:100%;}	
.search{ display:none;}
.logo { 
	padding-top:25px;
	background-size: 100px auto;}
	
.menu{ display:none;}

.c-mtop50{ margin-top:40px;}
.c-70{ width:100%;}
.c-25{ width:100%;}
.c-65{ width:100%;}
.c-30{ width:100%;}

.tit{ font-size:14px;}
p{ font-size:12px;}
.block{ margin-top:25px; margin-bottom:20px;}

.element{
	margin-top:20px;
	width:29%;
	padding-top:29%;}
	
.menu-footer{
	display:none;}
	
.logo-unesco, .logo-patrimonio{
	width:70px;}

.footer .logoCNCA{
	width:120px;
	margin-right:20px;}
	
.logo a img{width:90px; padding-top:4px;}
.logo a span{
	padding: 0px 0px 8px 12px;
    font-size: 13px;
    font-weight: 400;
}

.info .txt{
	width:65%}
	
.info .txt .i-tit{
	font-size:14px;
	line-height:15px;}

}

@media only screen and (max-width: 480px){

.header {
    height: 65px;}
	
.menu-responsive{
	height:65px;
	display:block;}

.element {
    margin-top: 10px;
    width: 45%;}

.footer .logoCNCA {
    width: 110px;
}

.logo-unesco, .logo-patrimonio {
    width: 62px;}
	
.logo a img{width:80px; padding-top:2px;}

.logo a span{	
	width: 50%;
	font-weight: 400;
	padding: 2px 0px 2px 8px;
	font-size: 11px;
	line-height: 13px;
}

.c-mtop50{ margin-top:30px;}

.info .txt{
	width:60%}
	
.info .txt .i-tit{
	font-size:14px;
	line-height:15px;}
	
.info .txt .desc{
	font-size:12px;
	line-height:15px;}	
	
}


@media only screen and (max-width: 320px){
.logo{
	padding-top:18px;
	background-size: 80px auto;}
		
.logo a img{width:58px; padding-top:4px;}

.logo a span{	
	width: 50%;
	font-weight: 400;
	padding: 2px 0px 2px 8px;
	font-size: 11px;
	line-height: 13px;
}

.c-mtop50{ margin-top:20px;}

.header{
	height:55px;}
	
.menu-responsive{
	height:55px;
	display:block;
	background-size: 45% auto;}	

}