#signin li{
  color: #555;
    font-family: openBold;
    font-size: 11px !important;
    text-transform: uppercase;}
  
#signin li input{
  font-family: "openRegular";
  display:block;
  -moz-appearance: none;
    background-color: #f1eeec;
    background-image: none;
    box-shadow: 0 0 0 transparent;
    clear: both;
    color: #555 !important;
    font-size: 16px !important;
    height: 51px;
    margin: 5px 0 15px;
    padding: 0 10px;
    width: 366px;}
  
#signin li input:hover{
  color:#6789f4;}
  
#signin button.submit {
    background-color: #4766c8;
    color: #fff;
    float: left;
    margin-top: -10px;
}
  
#signin button.submit:hover{
  background-color: #6789f4;}

#frm_usuario .registrese .top2{
  margin-top:0px;}
  
#frm_usuario h2{
  display:block;
  font-weight:normal;
  color:#4f3f33;
  font-size:26px;
  font-family:"openBold",helvetica,sans-serif;
  text-align:center;
  text-transform:uppercase;
  padding-bottom:0px;}
  
#frm_usuario .may{
  display: block;
    font-family: "openBold";
    margin-bottom: 5px;
    text-transform: uppercase;}

#frm_usuario .btn.btn-secondary{
  background-color: #4766c8;
  padding:18px 46px;
  color:#fff;}

#frm_usuario .btn.btn-secondary:hover{
  background-color: #6789f4;
}

#frm_usuario .registrese input{
  color:#888;}
  
#frm_usuario .registrese .avatar{
  border-radius:3px;}

#frm_usuario .registrese .avatar span{
  width:210px;}
  
#frm_usuario .registrese .avatar span p{
  line-height:2px;}

#frm_usuario .registrese form input[type="checkbox"]{
  margin: 0 6px 0 0;}
  
.olvido {
    color: #4f3f33 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-family: "openBold";
    font-size: 10px;
    margin-left: 150px;
    padding: 15px 0 0 5px;
    text-decoration: underline;
    text-transform: uppercase;
}

h2.api-thv {
    margin-top: -55px;
    margin-bottom: 30px;
    float: left;
}