@font-face {
    font-family:'openRegular';src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot");src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openLight';src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot");src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/light/OpenSans-Light-webfont.woff") format('woff'),url("../fonts/opensans/light/OpenSans-Light-webfont.ttf") format('truetype'),url("../fonts/opensans/light/OpenSans-Light-webfont.svg#open_sanslight") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openSemi';src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot");src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.woff") format('woff'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.ttf") format('truetype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openBold';src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format('woff'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format('truetype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format('svg');font-weight:normal;font-style:normal;
}

section.registrese {
	display: block;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 0.5%;
	padding-bottom: 2%;
}

.title {
	font-family: 'openBold',helvetica,sans-serif;
	color: #d35400;
	text-transform: uppercase;
}

h1.title {
	font-size: 1.7em;
	margin-bottom: 0px;
	margin-top: 50px;
}

h2.title {
	font-size: 1.2em;
	color: darkslategray;
	margin-top: 35px;
	margin-bottom: 2px;
}

h3.title {
	font-size: 0.9em;
	color: darkslategray;
}

fieldset {
	border: 0px;
}

div.campo {
	width: 43%;
	display: inline-block;
	margin-right: 50px;
	vertical-align: middle;
}

div.campo2 {
	max-width: 92%;
	display: block;
	margin-right: 100px;
	vertical-align: middle;
}

div.campo3 {
	width: 41.5%;
	display: inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

div.campo3.new {
	margin-right: 34px;
}

div.campo4 {
	width: 91%;
	display: block;
	vertical-align: middle;
}

div.campo5 {
	width: 20%;
	display: inline-block;
	padding-right: 22px;
	vertical-align: middle;
}

div.campo5.new {
	margin-right: 4px;
}

div.campo6 {
	width: 26.7%;
	display:inline-block;
	margin-right: 30px;
	vertical-align: middle;
}

div.campo6.new {
	margin-right: 34px;
}

.may {
    text-transform: uppercase;
    font-family: 'openBold';
    font-size: 10px;
    margin-left: 2px;
    text-align: left;
}

label.may {
	font-size: 12px;
}

.registrese form select, .registrese form input[type="text"], .registrese form input[type="file"], .registrese form input[type="button"], .registrese form textarea {
    width: 100%;
    display: block;
    clear: both;
    padding: 0 10px;
    color: #55504C;
    margin: 0 0 10px;
    background-color: #F1EEEC;
    box-shadow: 0 0 0 transparent;
    border: 0;
    font-size: 13px;
    font-family: 'openRegular';
    -webkit-appearance: none;
    border-radius: 3px;
}

.registrese form input[type="text"], .registrese form input[type="file"], .registrese form input[type="button"], .registrese form select {
	height: 38px;
}

.registrese div.botones {
	display: block;
	float: right;
	margin-right: 48px;
}

.registrese form input[type="button"] {
	display: inline-block;
    font-family: 'openBold',helvetica,sans-serif;
    width: 180px;
    height: 50px;
    margin-top: 40px;
    margin-right: 20px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.registrese form input[type="checkbox"] {
	transform: scale(1.1);
	cursor: pointer;
}

.registrese input[type="text"]:disabled, .registrese select:disabled {
    cursor: no-drop;
}

.registrese form input[type="button"].next {
	background-color: #d35400;
}

.registrese form input[type="button"].next:hover {
	background-color: #ff6f10;
}

.registrese form input[type="button"].prev {
	background-color: #18564f;
}

.registrese form input[type="button"].prev:hover {
	background-color: #299588;
}

.registrese form textarea {
	padding-top: 10px;
	padding-bottom: 10px;
	resize: vertical;
}

.registrese form select {
	background-image: url(data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==);
    background-repeat: no-repeat;
    background-position: 97% center;
    width: calc(100% + 20px);
}

span.desc {
	width: 93%;
    text-align: left;
    display: block;
    font-family: 'openRegular';
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
}

div.formulario {
	display: block;
	margin-top: 20px;
}

.button-add {
	background: url('../img/thv/icon-add.gif');
	background-position:center;
	background-repeat:no-repeat;
	width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-top: 6px;
}

.button-delete {
	background: url('../img/thv/icon_delete.gif');
	background-position:center;
	background-repeat:no-repeat;
	width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-bottom: 12px;
}

.registrese form input[type="file"] {
	vertical-align: -webkit-baseline-middle;
}

table.doc {
	width: 100;
	height: auto;
}

table.doc td {
	font-family: 'openRegular';
	font-size: 13px;
	vertical-align: top;
}

table.doc td:nth-child(1) {
	width: 3%;
}

table.doc td:nth-child(2) {
	width: 67%;
	padding-right: 25px;
	text-align: justify;
}

table.doc td:nth-child(3) {
	width: 30%;
}

span.n_paso {
	display: block;
    font-family: 'openRegular';
    font-size: 11px;
    text-align: right;
    margin-right: 23px;
}

.nuevo_integrante {
	display: block;
}

.descargar-words {
    margin: 20px 0px;
    padding-top: 20px;
    border-top: 1px solid #DDD;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    letter-spacing: -0.5px;
    font-family: "openBold",helvetica,sans-serif;
}

.btn-Download-word {
    height: 50px;
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: none;
    background-image: url(../img/thv/ico-word.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 5px 10px 5px 48px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
    font-size: 14px;
    line-height: 24px;
    margin: 0px 15px;
    color: #838383;
    text-transform: uppercase;
    font-family: "openBold",helvetica,sans-serif;
}

.boton_home {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 40px;
    color: #fff;
    background-color: #4766c8;
	font-family: 'openBold',helvetica,sans-serif;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer !important;
    text-align: center;
    transition: background .25s ease;
}

.boton_home:hover {
	color: #fff;
	background-color: #6789f4;
}

.btn1 {
	font-size: 13px;
	height: 55px;
    width: 280px;
}

.btn2 {
	font-size: 16px;
	height: 60px;
    width: 250px;
}

section.cover .inner h1 {
	margin-top: 60px;
}

div.logo {
    display: block;
    background-image: url(../img/thv/cnca-top.jpg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
    margin-left: 180px;
}

section.info .inner .r2 p {
	text-align: justify;
}

form a {
	color: #d35400;
}

div.checkbox {
	width: 100%;
	margin-bottom: 20px;
}


/* MULTISELECT */

.ms-parent {
    display: inline-table;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
}

.ms-choice {
    display: block;
    clear: both;
    padding: 0 10px;
    width: 104%;
    height: 38px;
    border: 0;
    background-color: #F1EEEC;
    border-radius: 3px;
    margin-right: 10px;
    background-image: url(data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==);
    background-repeat: no-repeat;
    background-position: 97% center;
    width: calc(100% + 20px);
}

.ms-choice.disabled {
	cursor: no-drop;
}

.ms-choice > span {
    position: inherit;
    top: 0;
    left: 0;
    right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-left: 0px;
    width: 60%;
    font-size: 13px;
    color: #55504C;
    text-align: left;
}

.ms-choice > span.placeholder {
    font-size: 13px;
    color: #55504C;
    font-family: 'openRegular';
    width: 240px;
    text-transform: none;
    text-align: left;
}

.ms-drop {
    overflow: hidden;
    display: none;
    margin-top: -1px;
    padding: 0;
    position: absolute;
    z-index: 1000;
    border: 0px;
    border-radius: 0px;
}

.ms-drop.bottom {
    width: 104%;
    border: solid 1px darkgray;
}

.ms-drop.top {
    bottom: 100%;
    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.ms-drop ul {
    background-color: #F1EEEC;
    overflow: auto;
    margin: 0;
    padding: 5px 0px;
    height: auto;
    max-height: 200px !important;
}

.ms-drop ul > li {
	font-size: 13px;
    font-family: 'openRegular';
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
}

.ms-drop ul > li .disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
    display: block;
    float: left;
}

.ms-drop ul > li.group {
    clear: both;
}

.ms-drop ul > li.multiple label {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #55504C;
    font-size: 13px;
    font-family: 'openRegular';
}

.ms-drop ul > li label.optgroup {
    font-weight: bold;
}

.ms-drop input[type="checkbox"] {
    vertical-align: text-top;
    margin-right: 5px;
}

.ms-drop .ms-no-results {
    display: none;
}

/* TABLA DOMINIOS ESPECIFICOS */

table.ambitos {
	width: 103%;
    margin-top: 10px;
    border-collapse: collapse;
}

table.ambitos th {
    padding: 10px 0px;
    text-align: left;
    padding-left: 20px;
}

table.ambitos th:nth-child(1) {
	width: 40%;
}

table.ambitos th:nth-child(2) {
	width: 63%;
}

table.ambitos td {
	height: auto;
    vertical-align: middle;
    padding: 10px 20px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}

table.ambitos div.campo {
	width: 95%;
}