*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url("assets/vendor/scripts/boxsizing.htc")}
html{overflow-y:scroll;overflow-x:hidden}
body{zoom:1;width:100%}
body:before,body:after{content:"";display:table}
body:after{clear:both}
img,video,audio,embed,object,input,iframe{max-width:100%}
.placeholder{color:#aaa}
