* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *behavior: url("assets/vendor/scripts/boxsizing.htc");
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    zoom: 1;
    width: 100%;
}

body:before,body:after {
    content: "";
    display: table;
}

body:after {
    clear: both;
}

img,video,audio,embed,object,input,iframe {
    max-width: 100%;
}

.placeholder {
    color: #aaa;
}

@font-face {
    font-family:'openRegular';src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot");src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openLight';src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot");src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/light/OpenSans-Light-webfont.woff") format('woff'),url("../fonts/opensans/light/OpenSans-Light-webfont.ttf") format('truetype'),url("../fonts/opensans/light/OpenSans-Light-webfont.svg#open_sanslight") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openSemi';src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot");src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.woff") format('woff'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.ttf") format('truetype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');font-weight:normal;font-style:normal;
}

@font-face {
    font-family:'openBold';src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format('woff'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format('truetype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format('svg');font-weight:normal;font-style:normal;
}

.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus {
    outline: none;
}

.slides,.flex-control-nav,.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    background: none;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #000;
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-containerbefore {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-containerbefore {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #ccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #ccc;
}

.mfp-preloader ahover {
    color: #fff;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    button-moz-focus-innerpadding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: .65;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    padding: 0 0 18px 10px;
    color: #fff;
    font-style: normal;
    font-size: 28px;
}

.mfp-closehover,.mfp-closefocus {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.mfp-closeactive {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333;
}

.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close {
    color: #fff;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #ccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    opacity: .65;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.mfp-arrowactive {
    margin-top: -54px;
}

.mfp-arrowhover,.mfp-arrowfocus {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.mfp-arrowbefore,.mfp-arrowafter,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrowafter,.mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrowbefore,.mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-leftafter,.mfp-arrow-left .mfp-a {
    border-right: 17px solid #fff;
    margin-left: 31px;
}

.mfp-arrow-leftbefore,.mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-rightafter,.mfp-arrow-right .mfp-a {
    border-left: 17px solid #fff;
    margin-left: 39px;
}

.mfp-arrow-rightbefore,.mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: #000;
}

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

.mfp-figure {
    line-height: 0;
}

.mfp-figureafter {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.6);
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    background: #444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width 800px) and (orientation landscape), screen and (max-height 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figureafter {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0,0,0,0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-barempty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0,0,0,0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width 900px) {
    .mfp-arrow {
        -webkit-transform: scale(.75);
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        -o-transform: scale(.75);
        -ms-transform: scale(.75);
        transform: scale(.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        -webkit-transform-origin: 0;
        -moz-transform-origin: 0;
        -o-transform-origin: 0;
        -ms-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        -webkit-transform-origin: 100%;
        -moz-transform-origin: 100%;
        -o-transform-origin: 100%;
        -ms-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }

    .mfp-ie7 .mfp-img {
        padding: 0;
    }

    .mfp-ie7 .mfp-bottom-bar {
        width: 600px;
        left: 50%;
        margin-left: -300px;
        margin-top: 5px;
        padding-bottom: 5px;
    }

    .mfp-ie7 .mfp-container {
        padding: 0;
    }

    .mfp-ie7 .mfp-content {
        padding-top: 44px;
    }

    .mfp-ie7 .mfp-close {
        top: 0;
        right: 0;
        padding-top: 0;
    }
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
    color: #4F3F33;
    background: #fff;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

html,body {
    width: 100%;
    height: 100%;
    min-width: 1024px;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    /*line-height: 150%;*/
    font-family: 'openRegular',helvetica,sans-serif;
}

h1,h2,h3,h4,h5 {
    padding: 1rem 0 3rem;
    line-height: 1.4;
    font-family: 'openBold',helvetica,sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 2.6rem;
    line-height: 2.8rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 2rem;
    padding: 1rem 0 3rem;
    line-height: 1.4;
    font-family: 'openBold',helvetica,sans-serif;
}

.title {
    color: #d35400;
    text-transform: uppercase;
}

p {
    padding: 0 0 24px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    border: 0;
    padding: 0;
}

button,input,select,textarea {
    font-family: inherit;
    font-size: 100%;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    margin-left: NaN%;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

button,input {
    line-height: normal;
}

button,select {
    text-transform: none;
}

button,input[type="button"],input[type="reset"],input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],html input[disabled] {
    cursor: default;
}

input[type="checkbox"],input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

* {
    list-style: none;
    text-decoration: none;
    outline: none;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    -webkit-font-smoothing: subpixel-antialiased;
    word-spacing: normal;
    letter-spacing: normal;
}

select active {
    border: none;
    padding: 0;
}

body,html {
    background-color: #fff;
    color: #4F3F33;
    width: 100%;
    height: 100%;
}

.r {
    zoom: 1;
}

.r:before,.r:after {
    content: "";
    display: table;
}

.r:after {
    clear: both;
}

.hidden {
    display: none;
}

.hide {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

.inner {
    zoom: 1;
    max-width: 960px;
    float: none !important;
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
    *margin-right: auto !important;
    *margin-left: auto !important;
}

.inner:before,.inner:after {
    content: "";
    display: table;
}

.inner:after {
    clear: both;
}

.btn {
    font-family: 'openBold',helvetica,sans-serif;
    height: 40px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

.btn:hover {
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

.btn.btn-primary {
    background-color: #d35400;
}

.btn.btn-primary:hover {
    background-color: #ff6f10;
}

.btn.btn-secondary {
    background-color: #18564f;
   
}

.btn.btn-secondary:hover {
    background-color: #299588;
}

.btn.btn-tertiary {
    background-color: #3a322c;
    margin-right: 10px;
}

.btn.btn-tertiary:hover {
    background-color: #4f3f33;
}


.btn.btn-bigger {
    width: auto;
    height: 62px;
    font-size: 18px;
    display: inline-block;
    padding: 20px 60px;
}

.btn.btn-big {
    width: auto;
    height: 55px;
    font-size: 14px;
    display: inline-block;
    padding: 18px 60px;
    margin-top:10px;
    color:#fff;
}

.btn.btn-medium {
    width: auto;
    height: 40px;
    font-size: 13px;
    display: inline-block;
    padding: 7px 30px;
}

.btn.btn-medium:hover
{ color: #fff;
}

.ml {
    margin-left: 10px;
}

nav {
    height: 60px;
    background-color: #efebe9;
    position: relative;
    text-align: center;
    top: 0;
    zoom: 1;
}

nav:before,nav:after {
    content: "";
    display: table;
}

nav:after {
    clear: both;
}

nav .s {
    float: left;
    /*ie*/
    min-width: 156px;
    width: auto;
    padding: 24px 20px 16px;
    height: 60px;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 9;
}

/*micro sitio regional*/
nav.nav-mr .s{
    min-width: 210px;
    width: 210px;
    width: auto;
}

nav .s a {
    font-size: 14px;
    color: #3a322c;
    text-transform: uppercase;
    font-family: 'openBold',helvetica,sans-serif;
}

nav .s.home,nav .s.search {
    min-width: inherit; /* Cambio de initial - permite verse bien en IE*/
    width: 60px;
    height: 60px;
    padding: 0;
}

nav .s.home a,nav .s.search a {
    text-indent: -9999px;
}

nav .s.home i,nav .s.search i {
    width: 24px;
    height: 24px;
    display: block;
    margin: 16px auto 0;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

nav .s.home i.icon-home,nav .s.search i.icon-home {
    background-image: url("../img/i-02.png");
}

nav .s.home i.icon-search,nav .s.search i.icon-search {
    background-image: url("../img/i-03.png");
}

nav .s.home:hover,nav .s.search:hover {
    background-color: transparent !important;
}

nav .s.search {
    float: right;
}

nav .s:hover {
    background-color: #d35400;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

nav .s:hover a {
    color: #fff;
}

nav .s:hover .nav-inner {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 9;
}

nav .s:hover .reg-nav-inner {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 9;
}

nav .nav-inner {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
}

nav .nav-inner .inner {
    background-color: #e26c14;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

nav .nav-inner .triangle {
    position: absolute;
    left: 50%;
    top: -8px;
    margin-left: 120px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e26c14;
}

nav .nav-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
}

nav .nav-inner a.s {
    zoom: 1;
    float: left;
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    background-color: #e26c14;
    height: 58px;
    padding: 24px 0;
    cursor: pointer;
}

nav .nav-inner a.s:before,nav .nav-inner a.s:after {
    content: "";
    display: table;
}

nav .nav-inner a.s:after {
    clear: both;
}

nav .nav-inner a:hover {
    background-color: #d35400;
}

nav .nav-inner .sep {
    width: 100%;
    height: 1px;
    clear: both;
    background-color: rgba(255,255,255,0.3);
}

nav .m03 {
    position: relative;
}

nav .m03 .reg-nav-inner {
    position: absolute;
    width: 235px;
    top: 50px;
    left: 50%;
    right: 0;
    background-color: #e26c14;
    margin-left: -117.5px;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

nav .m03 .reg-nav-inner .triangle {
    position: absolute;
    left: 50%;
    width: 8px;
    margin-left: -4px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e26c14;
}

nav .m03 .reg-nav-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
    background-color: #e26c14;
    height: 58px;
    padding: 22px 0;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

nav .m03 .reg-nav-inner a:hover {
    background-color: #d35400;
}

nav .m04 {
    position: relative;
}

nav .m04 .reg-nav-inner {
    position: absolute;
    width: 300px;
    top: 50px;
    left: 50%;
    right: 0;
    background-color: #e26c14;
    margin-left: -150px;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

nav .m04 .reg-nav-inner .triangle {
    position: absolute;
    left: 50%;
    width: 8px;
    margin-left: -4px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e26c14;
}

nav .m04 .reg-nav-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
    background-color: #e26c14;
    height: 100%;
    padding: 22px 0;
    line-height: 16px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

nav .m04 .reg-nav-inner a:hover {
    background-color: #d35400;
}

nav .m05 {
    position: relative;
}

nav .m05 .reg-nav-inner {
    position: absolute;
    width: 300px;
    top: 0px !important;
    left: 50%;
    right: 0;
    background-color: #e26c14;
    margin-left: 150px;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

nav .m05 .reg-nav-inner .triangle {
    position: absolute;
    left: 4px;
    margin-left: -4px;
    top: 25px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #e26d14;
}

nav .m05 .reg-nav-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
    background-color: #d35400;
    height: 100%;
    padding: 18px 0;
    line-height: 16px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    border:none !important;
 
}

nav .m05 .reg-nav-inner a:hover {
    background-color: #b9520e;
}

.menu-indicadores {
    width: 100%;
    height:100px;
    padding: 20px 0;
}

.indicadores {
    width:240px;
    float:left;
    padding:0 10px;
}

.indicadores2 {
    width:240px;
    height:100px;
    padding:10px 0;
    margin:0 auto;
    clear:both !important;
}

section.perfil .indicadores {
    width:230px;
    float:left;
    padding:0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline;
    padding: 10px;
    margin:5px;
    color: #735d53 !important;
}

.indicadores:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    cursor: pointer;
}

.indicadores-img {
    height:56px;
    float:left;
    margin: 15px 15px 10px 10px;   
}

.cifras {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    width:100px;
    float:left;
    height: 80px;
}

.cifras2 {
    border-left: 2px solid rgba(255, 255, 255, 0.3);
    width:100px;
    float:left;
    height: 70px;
}

.cifras h3 {
    font-size: 36px;
    font-family: 'openBold';
    color:rgba(255, 255, 255, 0.8);
    padding: 10px 0 0 10px !important;
    line-height: 36px;
    margin:0;
    font-weight: normal;
}

section.perfil .cifras {
    border-left: 2px solid #F1EEEC;
}

section.perfil .cifras h3 {
    color:#735d53;
}

section.perfil .cifras p {
    color:#b2a59f;
}

section.perfil h4 {
    padding-bottom:0;
    color: #735d53;
}

.cifras2 h3 {
    font-size: 36px;
    font-family: 'openBold';
    color:rgba(255, 255, 255, 0.8);
    padding: 16px 0 0 20px !important;
    line-height: 36px;
    margin:0;
    font-weight:normal;
}

.cifras p {
    font-size:11px;
    text-align: center;
    text-transform: uppercase;
    line-height: 12px;
    padding: 5px 0 0 10px !important;
    font-family: 'openBold';
    color:rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
}

.menu {
    height: 140px;
    width: 100%;
    overflow: hidden;
}

.menu .inner {
    height: 55px;
}

.menu .inner .s {
    height: 60px;
    zoom: 1;
    float: left;
    width: 14.285714285714285%;
    margin-left: 0;
    margin-right: 0;
    -webkit-box-shadow: 1px 0 0 rgba(0,0,0,0.1);
    box-shadow: 1px 0 0 rgba(0,0,0,0.1);
    position: relative;
    text-align: center;
    opacity: .8;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.menu .inner .s:before,.menu .inner .s:after {
    content: "";
    display: table;
}

.menu .inner .s:after {
    clear: both;
}

.menu .inner .s img {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}

.menu .inner .s .tooltip {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #d35400;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.menu .inner .s .tooltip p {
    padding: 10px;
    font-family: 'openBold',helvetica,sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
}

.menu .inner .s .tooltip:after {
    height: 8px;
    width: 17px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d35400;
    content: '';
}

.menu .inner .s:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.menu .inner .s:hover .tooltip {
    top: 130%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.cover-index .menu .inner .s:hover .tooltip{
    top: 80px;
}

.menu.menu-index{
    padding: 0 0;
}

.menu.menu-index .inner{
    padding: 45px 0;
    height: 105px;
}

section .item {
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #efebe9;
    cursor: pointer;
    margin: 10px;
    -webkit-animation: fadeInLoad .5s;
    -moz-animation: fadeInLoad .5s;
    -o-animation: fadeInLoad .5s;
    -ms-animation: fadeInLoad .5s;
    animation: fadeInLoad .5s;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

section .item .imgBg {
    /* width: 140px;
    height: 140px; */
    display: table-cell;
    vertical-align:middle;
}

section .item .imgBg img {
    min-width: auto;
    /* max-width: 140px;
    width: 140px;
    height: 140px;*/
}

section .item .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(44,62,80,0.4);
    position: absolute;
    top: 0;
    left: -100%;
    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -o-transition: left .25s ease;
    -ms-transition: left .25s ease;
    transition: left .25s ease;
}

.imgListado {
    min-width: 100% !important;
    max-width: 10px !important;
}

/*
*06-10-2014
* se modifico el background-color rgba (44,62,80,0.4)
*/

section .item .mask .cn {
    text-align: left;
    text-transform:uppercase;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
    position: relative;
    top: 0;
    font-family: 'openBold',helvetica,sans-serif;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}

section .item .mask .skill,section .item .mask .btn {
    display: none;
}
/*
* 06-10-2014
*section .item:hover .mask
*Se quita el hover para que nombre este siempre vsible
*/
section .item .mask {
    left: 0;
    -webkit-transition: left .25s ease;
    -moz-transition: left .25s ease;
    -o-transition: left .25s ease;
    -ms-transition: left .25s ease;
    transition: left .25s ease;
}
/*
*06-10-2014
*section .item:hover .mask .cn
*Se quita el hover para que nombre este siempre visible
*/
section .item .mask .cn {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .8s ease;
    -moz-transition: opacity .8s ease;
    -o-transition: opacity .8s ease;
    -ms-transition: opacity .8s ease;
    transition: opacity .8s ease;
    left: 0;

}

section .item.medium {
    width: 140px;
    height: 140px;
}

section .item.small {
    width: 60px;
    height: 60px;
    margin: 5px;
    overflow: hidden;
}

section .item.small .imgBg {  
}

section .item.list {
    zoom: 1;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: transparent;
    -webkit-animation: fadeInLoad .6s;
    -moz-animation: fadeInLoad .6s;
    -o-animation: fadeInLoad .6s;
    -ms-animation: fadeInLoad .6s;
    animation: fadeInLoad .6s;
    height: auto;
    min-height: 80px;
}

section .item.list:before,section .item.list:after {
    content: "";
    display: table;
}

section .item.list:after {
    clear: both;
}

section .item.list .imgBg {
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
    zoom: 1;
    float: left;
    width: 8.333333333333332%;
    margin-left: 0;
    margin-right: 0;
}

section .item.list .imgBg:before,section .item.list .imgBg:after {
    content: "";
    display: table;
}

section .item.list .imgBg:after {
    clear: both;
}

section .item.list .mask {
    zoom: 1;
    float: left;
    width: 91.66666666666666%;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    background-color: transparent;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
}

section .item.list .mask:before,section .item.list .mask:after {
    content: "";
    display: table;
}

section .item.list .mask:after {
    clear: both;
}

section .item.list .mask .p-left{
    float: left;
    width: 500px;
    padding: 0 0 0 10px;
}

section .item.list .mask .cn {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    left: 0;
    color: #3a322c;
    top: initial;
    font-size: 20px;
    line-height: 21px;
    padding: 0px 5px 5px 5px;
}

section .item.list .mask .skill {
    float: left;
    display: inline-block;
    font-weight: normal;
    padding: 0 0 5px 5px;
    width: 500px;
    line-height: 18px !important;
    font-size: 14px;
  
  
}

section .item.list .mask .skill a {
        font-family: 'openRegular' !important;
        text-decoration: underline;
       /* color: #6D5D54;*/

}

section .item .list .mask .skill .desc4
{
    color: #D35400 !important;
}

.desc1 {
    color: #6D5D54;
    font-size: 14px;
    line-height: 18px;
    font-family:'openBold';
}

.desc1 a {
    color: #6D5D54;
    text-decoration: underline;
    font-size: 14px;
    line-height: 18px;
    font-family:'openRegular';
    text-transform: none;
}

/*.desc1 p {
    padding-bottom:0px !important;
}*/

section .item.list .mask .btn {
    float: right;
    position: relative;
    display: block;
    padding-top:13px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    min-width: 100px;
}

section .item.list .mask .btn .btn-thv{
    font-size: 10px;
    display: block;
    width: 100%;
    font-family: "openRegular";
}

section .item.list .mask .btn-primary{
    margin-right: 10px;
    background: #d35400;
}

section .item.list .mask .btn-primary:hover{
    background: #ff6f10;
}

section .header {
    zoom: 1;
    padding: 40px 0 5px;
}

section .header:before,section .header:after {
    content: "";
    display: table;
}

section .header:after {
    clear: both;
}

section .header .title {
    padding: 0;
}

section .header .s {
    zoom: 1;
    float: left;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
}

section .header .s:before,section .header .s:after {
    content: "";
    display: table;
}

section .header .s:after {
    clear: both;
}

section .header .s .title {
    float: left;
}

section .header .s .option {
    float: right;
    color: #18564f;
    font-family: 'openBold',helvetica,sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 15px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
}

section .header .s .option:hover {
    color: #299588;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
}

section .flexslider img {
    min-width: 100%;
}

section .flexslider .flex-control-nav,section .flexslider .flex-direction-nav {
    display: none;
}

section.cover {
    width: 100%;
    height: 385px;
    background-color: #3b3530;
    overflow: hidden;
    position: relative;
}

section.cover-index{
    height: 445px;
}

section.cover .flexslider {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
section.cover .flexslider img {
    opacity:0.5;
    filter: alpha(opacity=50);
}

section.cover .inner {
    padding: 130px 0 0;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 2;
}

section.cover .inner h1,section.cover .inner h2 {
    padding: 0;
    line-height: 1.5;
}

section.cover .inner h2 {
    padding: 0;
    line-height: 1.0 !important;
}

section.cover .inner h1 {
    font-size: 34px;
}

section.cover .inner h2 {
    font-size: 42px;
}

.r h2 {
    text-transform: uppercase;
    line-height: 3rem;
}

section.info .btn-secondary {
    width: 200px;
    margin: 40px auto;
    display: block;
}

section.info .inner .s p {
    padding: 0 0 12px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}

section.info .mapa {
    width: 100%;
}
/* aca invertí por porcentajes del first child (1) y (2)*/

section.info .s:nth-child(1) {
    zoom: 1;
    float: left;
    width: 39.66666666666667%;
    margin-right: 1%;
}

section.info .s:nth-child(1):before,section.info .s:nth-child(1):after {
    content: "";
    display: table;
}

section.info .s:nth-child(1):after {
    clear: both;
}

section.info .s:nth-child(2) {
    zoom: 1;
    float: left;
    width: 56.333333333333336%;
    margin-left: 1%;
    margin-right: 1%;
}

section.info .s:nth-child(2):before,section.info .s:nth-child(2):after {
    content: "";
    display: table;
}

section.info .s:nth-child(2):after {
    clear: both;
}

section.nc .title {
    font-size: 26px;
    color: #332a24;
    padding:0px;
}

section.subscribe {
    text-align: center;
}

section.subscribe .inner {
    padding: 60px 0;
}

section.subscribe .btn-bigger {
    margin: 0 auto;
}

section.cultor .header .s:nth-child(1) {
    zoom: 1;
    float: left;
    width: 8%;
    margin-left: 0;
    margin-right: 20px;
}

section.cultor .header .s:nth-child(1):before,section.cultor .header .s:nth-child(1):after {
    content: "";
    display: table;
}

section.cultor .header .s:nth-child(1):after {
    clear: both;
}

section.cultor .header .s:nth-child(2) {
    zoom: 1;
    float: left;
    width: 88%;
    margin-left: 0;
    margin-right: 0;
}

section.cultor .header .s:nth-child(2):before,section.cultor .header .s:nth-child(2):after {
    content: "";
    display: table;
}

section.cultor .header .s:nth-child(2):after {
    clear: both;
}

section.cultor .header .s .cData h3,section.cultor .header .s .cData h4,section.cultor .header .s .cData h5 {
    line-height: 1;
}

section.cultor .header .s .cData h3 {
    font-size: 32px;
    color: #3a322c;
    font-family: 'openBold',helvetica,sans-serif;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 0;
}

section.cultor .header .s .cData h4 {
    font-size: 18px;
    color: #4f3f33;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'openRegular',helvetica,sans-serif;
}

section.cultor .header .s .cData h5 {
    font-size: 14px;
    font-family: 'openBold',helvetica,sans-serif;
    color: #18564f;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 0;
    display: inline-block; 
}

section.cultor .header .s .cData h5:after {
   /* border-top: 1px solid #332a24; */
    content: '';
    display: block;
    position: relative;
    top: -22px;
    width: 100%;
}

section.cultorInfo .inner .s.a {
    zoom: 1;
    float: left;
    width: 62%;
    margin-bottom: 20px;
}

section.cultorInfo .inner .s.a p {
    padding: 5px 0 12px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}

section.cultorInfo .inner .s.a:before,section.cultorInfo .inner .s.a:after {
    content: "";
    display: table;
}

section.cultorInfo .inner .s.a:after {
    clear: both;
}

section.cultorInfo .inner .s.b {
    zoom: 1;
    float: right;
    width: 32%;
    margin-left: 4%;
}
section.cultorInfo .inner .s.c {
    zoom: 1;
    float: right;
    width: 31%;
    margin-left: 4%;
}

section.cultorInfo .inner .s.b:before,section.cultorInfo .inner .s.b:after {
    content: "";
    display: table;
}

section.cultorInfo .inner .s.b:after {
    clear: both;
}

section.cultorInfo .inner .s .title {
    font-size: 22px;
    padding: 20px 0 0px;
}

section.cultorInfo .social {
    clear: both;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    padding: 10px 0;
    overflow: hidden;
}

section.cultorInfo .social li {
    margin: 10px;
    display: inline-block;
    float: right;
}

section.cultorInfo .social li i {
    width: 20px;
    height: 20px;
    display: block;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.cultorInfo .social li i.icon-star {
    background-image: url("../img/i-11.png");
}

section.cultorInfo .social li i.icon-print {
    background-image: url("../img/i-12.png");
}

section.cultorInfo .social li i.icon-share {
    background-image: url("../img/i-13.png");
}

section.cultorInfo .social li i.icon-fbook {
    background-image: url("../img/i-14.png");
}

section.cultorInfo .social li i.icon-twitter {
    background-image: url("../img/i-15.png");
}

section.cultorInfo .social li i.icon-pdf {
    background-image: url("../img/i-16.png");
}

section.cultorInfo .social li i.icon-report {
    background-image: url("../img/i-17.png");
}

section.cultorInfo .social li i.icon-iframe {
    background-image: url("../img/i-18.png");
    display: inline-block;
    position: relative;
    top:5px;
}

section.cultorInfo .social li i.icon-edit {
    background-image: url("../img/i-edit.png");
}

section.cultorInfo .social li i:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.cultorInfo .cInfo {
    background-color: #18564f;
    padding: 20px 26px;
    line-height: 150%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position:relative;
}

section.cultorInfo .cInfo li p {
    color: #fff;
    font-size: 13px;
    padding: 0;
    text-align: left;
}

section.cultorInfo .cInfo li p em {
    font-family: 'openBold',helvetica,sans-serif;
}

section.cultorInfo .iGallery .title {
    padding: 30px 0 !important;
}

section.cultorInfo .iGallery .picture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    zoom: 1;
    float: left;
    margin-left: 0;
    margin-right: 0;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

section.cultorInfo .iGallery .picture:before,section.cultorInfo .iGallery .picture:after {
    content: "";
    display: table;
}

section.cultorInfo .iGallery .picture:after {
    clear: both;
}

section.cultorInfo .iGallery .picture img {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

section.cultorInfo .iGallery .picture:hover {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

section.cultorInfo .iGallery .picture:hover img {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

section.location .geo {
    zoom: 1;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

section.location .geo:before,section.location .geo:after {
    content: "";
    display: table;
}

section.location .geo:after {
    clear: both;
}

section.location .geo .gMap {
    height: 300px;
    width: 100%;
    margin-bottom: 40px;
}

section.location .geo .geoMask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    left: 0;
}

section.collaborator .s {
    zoom: 1;
    float: left;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

section.collaborator .s:before,section.collaborator .s:after {
    content: "";
    display: table;
}

section.collaborator .s:after {
    clear: both;
}

section.collaborator h2 {
    text-transform: uppercase;
    padding-bottom: 0;
}

.image-source-link {
    color: #98c3d1;
    display: none;
}

.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: .8;
    filter: alpha(opacity=80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@-moz-keyframes fadeInLoad {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 10px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 0;
    }
}

@-webkit-keyframes fadeInLoad {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 10px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 0;
    }
}

@-o-keyframes fadeInLoad {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 10px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 0;
    }
}

@-ms-keyframes fadeInLoad {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 10px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 0;
    }
}

@keyframes fadeInLoad {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        top: 10px;
    }

    100% {
        opacity: 1;
        -ms-filter: none;
        filter: none;
        top: 0;
    }
}

header {
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(239,235,233,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    min-width: 1024px;
}


header .s:nth-child(1) {
    zoom: 1;
    float: left;
    width: 50%;
    margin-left: 1%;
    margin-right: 1%;
}

header .s:nth-child(1):before,header .s:nth-child(1):after {
    content: "";
    display: table;
}

header .s:nth-child(1):after {
    clear: both;
}

header .s:nth-child(2) {
    zoom: 1;
    float: left;
    width: 46%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}

header .s:nth-child(2):before,header .s:nth-child(2):after {
    content: "";
    display: table;
}

header .s:nth-child(2):after {
    clear: both;
}

header .s h1 {
    font-size: 32px;
    padding: 0;
    margin: 0;
    line-height: 1.3;
    float: left;
    text-indent: -9999px;
}

header .s .imago {
    display: block;
    margin:10px 10px 0 10px;
    float: left;
    
}

header .s .signup {
    float: right;
    margin-top:20px;
}

header .s .signup fieldset {
    width: auto;
    float: left;
}

header .s .signup fieldset input {
    float: left;
    width: 170px;
    height: 30px;
    margin: 0 5px 5px 0;
    font-size: 13px;
    padding: 0 12px;
}

header .s .signup button {
    width: 90px;
    height: 30px;
    float: right;
    font-size: 11px;
}

header .signup li {
    float:left;
}

.olvido {
    font-family: 'openBold';
    text-transform: uppercase;
    padding: 15px 0 0 5px;
    color:#4f3f33 !important;
    display:block;
    cursor:pointer;
    text-decoration: underline;
    font-size: 10px;
}


.olvido:hover {
    color:#D35400;
}

header .s .registered {
    float: right;
    margin-top: 10px;
}



header .s .registered .avatar {
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    top: -1px;
}

header .s .registered .avatar img {
    line-height: 1;
}

header .s .registered:hover ul {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    top: 80px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

header .s .registered ul {
    height: auto;
    position: absolute;
    width: 240px;
    background-color: #e26c14;
    right: 0;
    top: 80px;
    visibility: hidden;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

header .s .registered ul .triangle {
    position: absolute;
    right: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #e26c14;
}

header .s .registered ul a {
    display: block;
    background-repeat: no-repeat;
    background-position: 18px center;
    padding-left: 40px;
}

header .s .registered ul li {
    padding: 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    height: 45px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

header .s .registered ul li span {
    color: #fff;
    text-transform: uppercase;
    font-family: 'openBold',helvetica,sans-serif;
    font-size: 12px;
    display: block;
    line-height: 1.5;
    letter-spacing: 1px;
}

header .s .registered ul li i {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background-color: #fff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 0 10px 0 0;
}

header .s .registered ul li:hover {
    /*background-color: #d35400;*/
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
    text-decoration: underline!important;

}

.color2 {
    background-color:#df5b25 !important;
    display:block;
    width: 240px;
}

.region {
    cursor: pointer;
}

header .hMenu .region {
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    padding: 30px 0 0 10px;
    color: #4f3f33;
    text-indent: initial;
}

header .hMenu .region:after {
    position: relative;
    right: -15px;
    top: 6px;
    display: inline;
    z-index: 9999;
    float: right;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4f3f33;
}

header .hMenu .hMenu-inner {
    width: 260px;
    background-color: #4f3f33;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: auto;
    position: absolute;
    top: 50px;
    left: 280px;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

header .hMenu .hMenu-inner .triangle {
    position: absolute;
    right: 170px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4f3f33;
}

header .hMenu .hMenu-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
    background-color: #4f3f33;
    height: 45px;
    padding: 14px 25px 0;
    width: 100%;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-transform: uppercase;
}

header .hMenu .hMenu-inner a:hover {
    background-color: #3a322c;
}

header .hMenu:hover {
    padding-bottom: 60px;
}

header .hMenu:hover .hMenu-inner {
    top: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

header .m02 .region {
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    padding: 30px 0 0 10px;
    color: #4f3f33;
    text-indent: initial;
}

header .m02 .region:after {
    position: relative;
    right: -15px;
    top: 6px;
    display: inline;
    z-index: 9999;
    float: right;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4f3f33;
}

header .m02 a {
    /*float: left;*/
    min-width: 144px;
   /* padding: 19px 20px 16px !important;*/
   /* height: 60px;*/
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
    text-align: center;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 9;
    font-size: 14px;
    color: #3a322c;
    text-transform: uppercase;
    font-family: 'openBold',helvetica,sans-serif;
}

header .m02:hover {
    background-color: #d35400;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

header .m02:hover a {
    color: #fff;
}

header .m02:hover .nav-inner {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 9;
}

header .m02:hover .reg-nav-inner {
    visibility: visible;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    z-index: 9;
}

header .m02 .nav-inner {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    visibility: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -1;
}

header .m02 .nav-inner .inner {
    background-color: #4f3f33;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

header .m02 .nav-inner .triangle {
    position: absolute;
    left: 372px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4f3f33;
}

header .m02 .nav-inner a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
}

header .m02 .nav-inner a.s {
    zoom: 1;
    float: left;
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    background-color: #4f3f33;
    height: 58px;
    padding: 24px 0;
    cursor: pointer;
}

header .m02 .nav-inner a.s:before,header .m02 .nav-inner a.s:after {
    content: "";
    display: table;
}

header .m02 .nav-inner a.s:after {
    clear: both;
}

header .m02 .nav-inner a:hover {
    background-color: #3a322c;
}

header .m02 .nav-inner .sep {
    width: 100%;
    height: 1px;
    clear: both;
    background-color: rgba(255,255,255,0.3);
}

footer {
    height: 160px;
    width: 100%;
    padding-top: 20px;
    zoom: 1;
}

footer:before,footer:after {
    content: "";
    display: table;
}

footer:after {
    clear: both;
}

footer .inner {
    padding: 40px 0 0;
    border-top: 1px solid #ccc;
}

footer .inner .s a {
    color: inherit;
}

footer .inner .s:nth-child(1) {
    zoom: 1;
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}

footer .inner .s:nth-child(1):before,footer .inner .s:nth-child(1):after {
    content: "";
    display: table;
}

footer .inner .s:nth-child(1):after {
    clear: both;
}

footer .inner .s:nth-child(1) p {
    font-size: 14px;
    color: #332a24;
    line-height: 1.3;
    font-family: 'openSemi',helvetica,sans-serif;
}

footer .inner .s:nth-child(1) p em {
    padding-top: 10px;
    display: block;
}

footer .inner .s:nth-child(2) {
    zoom: 1;
    float: left;
    width: 45%;
    margin-left: 1%;
    margin-right: 1%;
    
}

footer .inner .s:nth-child(2):before,footer .inner .s:nth-child(2):after {
    content: "";
    display: table;
}

footer .inner .s:nth-child(2):after {
    clear: both;
}

footer .inner .s:nth-child(3) {
    zoom: 1;
    float: right;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}

footer .inner .s:nth-child(3):before,footer .inner .s:nth-child(2):after {
    content: "";
    display: table;
}

footer .inner .s:nth-child(3):after {
    clear: both;
}

footer .inner .s:nth-child(2) li {
    font-size: 11px;
    line-height: 1.8;
    color: #332a24;
}

footer .inner .s .gobBrand {
    width: 185px;
    height: 25px;
}

footer .inner .s .gobBrand .blueOne {
    background-color: #0b61ae;
    width: 74px;
    height: 25px;
    float: left;
}

footer .inner .s .gobBrand .redOne {
    background-color: #ea3535;
    width: 111px;
    height: 25px;
    float: left;
}

.top {
    margin-top: 15px;
}
.top2 {
    margin-top: 10px;
}

.top3 { margin-top:50px;}
.form {
    font-family: inherit;
    font-size: 100%;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    margin-left: NaN%;
    border: 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #efebe9;
    clear: both;
    height: 40px;
    width: 470px;
    padding-left: 10px;
    font-size: 14px;
}

#frm_usuario h2{
    display:block;
    font-weight:normal;
    color:#4f3f33;
    font-size:28px;
    font-family:"openBold",helvetica,sans-serif;
    text-align:left;
    text-transform:uppercase;
    padding-bottom:30px;}
    
#frm_usuario .may{
    display: block;
    font-family: "openBold";
    margin-bottom: 5px;
    text-transform: uppercase;}

#frm_usuario .btn.btn-secondary{
    background-color: #d35400;
    padding:18px 46px;
    color:#fff;}

#frm_usuario .registrese input{
    color:#888;}
    
#frm_usuario .registrese .avatar{
    border-radius:3px;}

#frm_usuario .registrese .avatar span{
    width:210px;}
    
#frm_usuario .registrese .avatar span p{
    line-height:2px;}

#frm_usuario .registrese form input[type="checkbox"]{
    margin: 0 6px 0 0;}

.form2 {
    height: 200px !important;
    padding-top: 10px;
}

.w {
    width: 160px;
}

.left {
    float: left;
}

.options {
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: right;
    position: relative;
    top: -5px;
    cursor: pointer;
}
.izq {
    width: 480px;
    height: 400px;
    float: left;
    padding-top:100px;
}
.der {
    width: 480px;
    height: 400px;
    float: right;
    padding-top:100px;
    padding-left: 28px;

}
.der h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 40px;
}
.izq h2 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: right;
}
.izq p {
    font-size: 18px;
    line-height: 28px;
    text-align: right;
}

.der p {
    font-size: 18px;
    line-height: 28px;
}

.margentop {
margin-top:80px;
}

.reg {
  float:right;
  position:absolute;
  top:240px;
  left:878px;
}

.def {
    width:650px;
    display:block;
    color:#4f3f33;
    padding:0 0 10px 10px;
    font-size:16px;
}

/* código agregado april5 */

.mapa01 {
    background-image:url("../img/r01_arica.jpg");
    float:right;
    width:540px;
    height:635px;
    background-repeat:no-repeat;
    background-position:center right;
}

.registrese .avatar{width:100%;height:70px;padding:10px;background-color:#f1eeec;-webkit-border-radius:6px;border-radius:6px;display:block;clear:both;margin-bottom:10px;cursor:pointer;zoom:1;}
.registrese .avatar:before,.registrese .avatar:after{content:"";display:table}
.registrese .avatar:after{clear:both}
.registrese .avatar .avatarImage{width:50px;height:50px;background-color:#fff;position:relative;overflow:hidden;float:left;}
.registrese .avatar .avatarImage img{min-width:100%;height:100%;width:100%}
.registrese .avatar span{line-height:2;padding:5px 0 0 10px;display:block;position:relative;float:left;width:210px;}
.registrese .avatar span p{font-size:12px;text-transform:uppercase;line-height:1}
.registrese .avatar span small{font-size:10px;line-height:1}
.registrese p{font-size:9px;padding:0;line-height:1.4}
.registrese .s{margin-top:100px;zoom:1;float:left;width:100%;margin-left:1%;margin-right:1%;margin-bottom:50px;}
.registrese .s:before,.registrese .s:after{content:"";display:table}
.registrese .s:after{clear:both}
.registrese form{zoom:1;}
.registrese form:before,.registrese form:after{content:"";display:table}
.registrese form:after{clear:both}
.registrese form select,.registrese form input,.registrese form textarea{width:100%;clear:both;padding:0 20px;color:#55504C;margin:0 0 10px;background-color:#F1EEEC;-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent;border:0;margin-left:NaN%;background-image:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:16px;}
.registrese form select.requires,.registrese form input.requires,.registrese form textarea.requires{-webkit-box-shadow:inset 0 0 0 1px #f00;box-shadow:inset 0 0 0 1px #f00}
.registrese form select{background-image:url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==");background-repeat:no-repeat;background-position:95% center;}
.registrese form select:after{position:absolute;z-index:999999;right:8px;top:8px;background-image:url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==");display:block;content:''}
.registrese form textarea{padding:15px;resize:none}
.registrese form small{font-size:12px}
.registrese form legend{display:none}
.registrese form fieldset{width:100%;height:100%}
.registrese form input{height:40px}
.registrese form input[type="radio"]{-webkit-appearance:button;-moz-appearance:button;appearance:button}
/*.registrese form input[type="submit"]{height:40px;text-transform:uppercase;background-color:#d35400;margin:15px 10px 0;width:210px;float:right;color:#fff;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
.registrese form input[type="submit"]:hover{height:40px;background-color:#be4c00;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease}
*/.registrese form input[type="checkbox"]{appearance: checkbox;-webkit-appearance: checkbox;box-sizing: border-box; clear: none; float: left; width: auto; height: auto; margin: 0px 10px 0 0;vertical-align: top;}

.col {
    width:30%;
    float:left;
    margin-right:20px; 
}

.may {
    text-transform:uppercase;
    /*font-family:'openBold';*/
    font-size: 10px;
}
/* código agregado mayo2014 */
.breadcrumbs {
font-size:12px;
margin-top: 30px;
}
.breadcrumbs a {
color:#d35400;
}
.back {
/* text-decoration: underline; */
color: #D35400;
text-transform: uppercase;
padding-left: 24px;
background-image: url("/media/img/back.png");
background-repeat: no-repeat;
background-position-y: 50%;
}

}

/* código agregado enero2015 sección noticias index*/

.news a {
    color: #18564f;
    font-family: 'openBold',helvetica,sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 15px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
}

.news a:hover {
    color: #299588;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
}

a {
color: #D35400;
font-family: 'openBold',helvetica,sans-serif;
}

a:hover {
color: #e26c14;
}

.landscape {
max-width:none;
max-height:100%;
}
.portrait {
max-width:100%;
max-height:none;
}
.avatar45 {
width:45px;
height:45px;
overflow:hidden;
} 
.avatar60 {
width:60px;
height:60px;
overflow:hidden;
float: left;
}
.avatar80 {
width:80px;
height:80px;
overflow:hidden;
}
.avatar140 {
width:140px;
height:140px;
overflow:hidden;
}

.avatar212 {
width:212px;
height:212px;
overflow:hidden;
}

.intro {
margin: 20px auto;
font-size: 16px;
line-height: 26px;}

.mtop {
    margin-top:40px;
    padding-bottom: 0px;
}

.may {
    text-transform:uppercase;
    font-family:'openBold'
}

.collaborator h3 {
    padding-bottom:0px;
    border-top:#CCC thin solid;
    font-size:20px;
}

.listad {
    margin-bottom:40px;
}

.listado {
    float: left;
    display: inline;
    /*width: 310px;*/
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #F7F2F2;
    padding: 10px;
    cursor:pointer;
}

.listado:hover {
    background-color: #EFEBE9;
}

.margtop {
    margin-top:40px;
}
.dom {
    float:left;
    display:block;
    clear:both;
    margin-bottom:40px;
}

section.dom h2 {
    font-size:32px;
    text-transform: uppercase;
    margin-bottom: -15px;
}

section.desc .dom p {
    padding: 0 0 12px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 16px;
    line-height: 23px;
    text-align:justify;
    /*letter-spacing: -0.5pt;
    word-spacing: -0.5pt;*/
}

section.desc .descripcion p {
    padding:0px !important;
}

.desc {
    display:block;
    clear: both;
}

section.asoc {
    display:block;
    clear:both;
}

.colright {
    width: 13%;
    float: right;
    margin-left: 20px;
    border-top: #80aba7 3px solid;
}

.colleft {
    width: 82%;
    float:left;
    text-align:justify;
}


section.desc .social {
    display: block;
    width: 100%;
    height: auto;
   
}

section.desc .social li {
    margin: 10px;
    display: inline-block;
    float: left;
}

section.desc .social li i {
    width: 20px;
    height: 20px;
    display: block;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.desc .social li i.icon-star {
    background-image: url("../img/i-11.png");
}

section.desc .social li i.icon-print {
    background-image: url("../img/i-12.png");
}

section.desc .social li i.icon-share {
    background-image: url("../img/i-13.png");
}

section.desc .social li i.icon-fbook {
    background-image: url("../img/i-14.png");
}

section.desc .social li i.icon-twitter {
    background-image: url("../img/i-15.png");
}

section.desc .social li i.icon-pdf {
    background-image: url("../img/i-16.png");
}

section.desc .social li i.icon-report {
    background-image: url("../img/i-17.png");
}

section.desc .social li i:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.descrip {
float:left;
margin-left:10px;
width: 82%;
}

section.regis {
    display:block;
    clear:both;

}

section.perfil {
    background-color:#e6dfdb;
    padding-bottom: 40px;
    margin-bottom:20px;
}


section.perfil .header .s:nth-child(1) {
    zoom: 1;
    float: left;
    width: 8%;
    margin-left: 0;
    margin-right: 20px;
}

section.perfil .header .s:nth-child(1):before,section.cultor .header .s:nth-child(1):after {
    content: "";
    display: table;
}

section.perfil .header .s:nth-child(1):after {
    clear: both;
}

section.perfil .header .s:nth-child(2) {
    zoom: 1;
    float: left;
    width: 88%;
    margin-left: 0;
    margin-right: 0;
}

section.perfil .header .s:nth-child(2):before,section.cultor .header .s:nth-child(2):after {
    content: "";
    display: table;
}

section.perfil .header .s:nth-child(2):after {
    clear: both;
}

section.perfil .header .s .cData h3,section.cultor .header .s .cData h4,section.cultor .header .s .cData h5 {
    line-height: 1;
    /* padding-left: 20px; */
}

section.perfil .header .s .cData h3 {
    font-size: 32px;
    color: #3a322c;
    font-family: 'openBold',helvetica,sans-serif;
    text-transform: uppercase;
    padding-bottom: 0;
    padding-top: 0;
}

section.perfil .header .s .cData h4 {
    font-size: 18px;
    color: #4f3f33;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'openRegular',helvetica,sans-serif;
}

section.perfil .header .s .cData h5 {
    font-size: 14px;
    font-family: 'openBold',helvetica,sans-serif;
    color: #18564f;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 0;
    display: inline-block; 
}

section.perfil .header .s .cData h5:after {
   /* border-top: 1px solid #332a24; */
    content: '';
    display: block;
    position: relative;
    top: -22px;
    width: 100%;
}

.desc4 {
    color: #D35400;
    padding-left:14px;
    font-size: 13px;
    font-family: 'openRegular';
    line-height: 14px;
    background-image: url("/media/img/pin.png");
    background-repeat: no-repeat;
    background-position: top left;
    display:block;
}

section.perfil .social {
    overflow:hidden;
    display: block;
    width: 100%;
    height: auto;
   
}

section.perfil .social li {
    margin: 10px 20px 10px 0px;
    display: inline-block;
    float: left;
}

section.perfil .social li i {
    width: 20px;
    height: 20px;
    display: block;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.perfil .social li i.icon-link {
    background-image: url("../img/i-link.png");
}

section.perfil .social li i.icon-tw {
    background-image: url("../img/i-twitter.png");
}

section.perfil .social li i.icon-fb {
    background-image: url("../img/i-fb.png");
}

section.perfil .social li i.icon-yt {
    background-image: url("../img/i-youtube.png");
}

section.perfil .social li i.icon-v {
    background-image: url("../img/i-vimeo.png");
}

section.perfil .social li i:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

section.perfil .cData p {
    padding:0px;
}

section.cultor .cData h6 {
    font-weight: normal;
    font-family: 'openRegular';
    font-size: 13px;
    font-style: italic;
    padding: 0;
}

.mensaj {
    text-align: center;
}


.region2 {
    cursor: pointer;
}

section.cc .hMenu2 .region2 {
    font-size: 14px;
    text-transform: uppercase;
    float: left;
    padding: 30px 0 0 30px;
    color: #4f3f33;
    text-indent: initial;
}

section.cc .hMenu2 .region2:after {
    position: relative;
    right: -15px;
    top: 6px;
    display: inline;
    z-index: 9999;
    float: right;
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4f3f33;
}

section.cc .hMenu2 .hMenu-inner2 {
    width: 257px;
    background-color: #18564F;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: auto;
    position: absolute;
    top: -10px;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

section.cc .hMenu2 .hMenu-inner2 .triangle2 {
    position: absolute;
    right: 15px;
    top: -8px;
    display: block;
    z-index: 9999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #18564F;
}

section.cc .hMenu2 .hMenu-inner2 a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'openBold',helvetica,sans-serif;
    background-color: #18564F;
    height: 45px;
    padding: 16px 25px 0;
    width: 100%;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    text-transform: uppercase;
}

section.cc .hMenu2 .hMenu-inner2 a:hover {
    background-color: #299588;
}

section.cc .hMenu2:hover {
    padding-bottom: 1px;
    z-index: 999;
}

section.cc .hMenu2:hover .hMenu-inner2 {
    top: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.btn2 {
    font-family: 'openBold',helvetica,sans-serif;
    height: 40px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

.btn2:hover {
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

.btn2.btn-secondary2 {
    background-color: #18564f;
   
}

.btn2.btn-secondary2:hover {
    background-color: #299588;
}

.btn2.btn-big2 {
    width: auto;
    height: 55px;
    font-size: 14px;
    display: inline-block;
    padding: 20px 60px;
    color:#fff;
}

.alerta {
    margin: 20px auto;
    text-transform: uppercase;
    font-family: 'openBold';
    background-image:url("../img/alert.png");
    padding-left:24px;
    background-repeat:no-repeat;
    background-position:center left;
}

.frm {
    margin:20px 0;
}

.name {
    float:left;
    padding:25px 18px 0;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'openBold';
}

.name span{
    text-transform: none;
    font-family: 'openRegular';
}

.bio {
    margin-top:20px;
}

.bio p {
    text-align: justify;
}

section.cc .inner table {
    font-size:16px;
} 

.center {
    padding:0px 0px 0px 20px;
}

/*tooltip avatar*/

.item.small.tooltip {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #d35400;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 100%;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.item.small.tooltip p {
    padding: 10px;
    font-family: 'openBold',helvetica,sans-serif;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
}

.item.small.tooltip:after {
    height: 8px;
    width: 17px;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: -8px;
    display: block;
    z-index: 99999;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #d35400;
    content: '';
}

.item.small:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.item.small:hover .tooltip {
    top: 130%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
}

.item.small:hover .tooltip{
    top: 80px;
}

/*clases correo*/

.correo {
    width:100%;
    margin: auto 0;
    text-align: center;
}

/* iconos login form */
.unete {
    background-image: url("../img/icon-unete.png");
}
.editperfil {
    background-image: url("../img/icon-editarperfil.png");
}
.estadisticas {
    background-image: url("../img/icon-estadisticas.png");
}
.logout {
    background-image: url("../img/icon-logout.png");
}
.mail {
    background-image: url("../img/icon-mail.png");
}
.miperfil {
    background-image: url("../img/icon-perfil.png");
}
.reportar {
    background-image: url("../img/icon-reportar.png");
}
.recursos {
    background-image: url("../img/icon-recursos.png");
}

section.disclaimer {
    background-color: #d35400;
    color:#fff;
    margin-top:40px;
    text-align: center;
    height:500px;
}

section.disclaimer p {
    margin-top:40px;
    margin-bottom:20px;
    font-size:16px;
}

.f {
    float: right;
}

.thv {
    z-index:8;
    width:30px;
    height:37px;
    display: block;
    position: absolute;
    right: 5px;
    /*left: 106px;*/
    top: 0px;
    opacity: 0.8;
}

.thv.small{
    left: 43px;
}

.thv_ficha {
    z-index:8;
    width:40px;
    height:67px;
    display: block;
    position: absolute;
    left: 250px;
    top: 0px;
}

  /*----- Tabs -----*/
   .tabst {
    width:100%;
    display:inline-block;
    margin-top:0px;
  }

  /*----- Tab Links -----*/
  /* Clearfix */
  .tab-linkst:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-linkst li {
    margin:0px 5px;
    float:left;
    list-style:none;
  }

  .tab-linkst a {
    padding:13px 20px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background-color:#EFEBE9;
    font-size:12px;
    text-transform:uppercase;
    color:#4c4c4c;
    transition:all linear 0.15s;
  }

  .tab-linkst a:hover {
    background:#e59f83;
    text-decoration:none;
  }

  li.active a, li.active a:hover {
    background-color: #E59F83;
    color:#4c4c4c;
  }

  /*----- Content of Tabs -----*/
  .tab-contentt {

    border-radius:3px;
    /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
    background-color: #EFEBE9;
    overflow:hidden;
  }

  .tabt {
    display:none;

  }

  .tabt.active {
    display:block;
  }

  section.desc .social {
    display: block;
    width: 100%;
    height: auto;
   
}

section.desc .social li {
    margin: 10px;
    display: inline-block;
    float: left;
}

section.desc .social li i {
    width: 20px;
    height: 20px;
    display: block;
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    background-position: 0 50%;
    background-repeat: no-repeat;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

footer .social li i.icon-facebook {
    background-image: url("../img/icon_facebook.png");
}

footer .social li i.icon-twitter {
    background-image: url("../img/icon_twitter.png");
}

footer .social li i.icon-flickr {
    background-image: url("../img/icon_flickr.png");
}

footer .social li i.rss {
    background-image: url("../img/icon_rss.png");
}

footer .social li i:hover {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -o-transition: opacity .25s ease;
    -ms-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.btn-thv-postular{
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 200px;
    height: 249px;
    z-index: 999;
    display: block;
    text-indent: -9999px;
    /*background-image: url("../img/banner_thv.png");*/
    background-repeat: no-repeat;
}

.textbox { 
    margin-left: 10px;
    display: inline-block;
    height:25px; 
    width: 254px; 
    border-radius: 0.5em; 
    border: none; 
    color: #A2A2A2; 
    padding-left: 0.8em; 
    outline: none; 
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px hsl(0, 0%, 2%);
} 

img.img-intr {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* MIEMBROS DEL COLECTIVO O CULTORES EN FIESTAS */

section .galeria-ficha {
    margin-bottom: : 20px;
}

section .item.medium-2 {
    width: 134px;
    height: 134px;
    margin: 14px 14px 0px 0px;
}

.avatar134 {
    width: 134px;
    height: 134px;
    overflow: hidden;
}

p.cn-2 {
    font-family: 'openBold',helvetica,sans-serif !important;
    font-size: 14px !important;
    text-align: left !important;
    padding: 10px 10px 10px 10px !important;
    line-height: 17px !important;
    text-transform: uppercase;
    color: #fff;
}

p#geo {
    text-align: center;
}
 
