*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url("assets/vendor/scripts/boxsizing.htc")}
html{overflow-y:scroll;overflow-x:hidden}
body{zoom:1;width:100%}
body:before,body:after{content:"";display:table}
body:after{clear:both}
img,video,audio,embed,object,input,iframe{max-width:100%}
.placeholder{color:#aaa}
/*@font-face{font-family:'openRegular';src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot");src:url("../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/opensans/regular/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'openLight';src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot");src:url("../fonts/opensans/light/OpenSans-Light-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/light/OpenSans-Light-webfont.woff") format('woff'),url("../fonts/opensans/light/OpenSans-Light-webfont.ttf") format('truetype'),url("../fonts/opensans/light/OpenSans-Light-webfont.svg#open_sanslight") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'openSemi';src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot");src:url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.woff") format('woff'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.ttf") format('truetype'),url("../fonts/opensans/semibold/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'openBold';src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot");src:url("../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.woff") format('woff'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.ttf") format('truetype'),url("../fonts/opensans/bold/OpenSans-Bold-webfont.svg#open_sansbold") format('svg');font-weight:normal;font-style:normal}
*/
*{font-style:normal}
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{outline:none}
.slides,.flex-control-nav,.flex-direction-nav{margin:0;padding:0;list-style:none}
.flexslider{background:none;border:1px solid rgba(0,0,0,0);-webkit-box-shadow:none;box-shadow:none;margin:0}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden}
.flexslider .slides img{width:100%;display:block}
.flex-pauseplay span{text-transform:capitalize}
.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0}
html[xmlns] .slides{display:block}
* html .slides{height:1%}
.no-js .slides > li:first-child{display:block}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease}
.loading .flex-viewport{max-height:300px}
.flexslider .slides{zoom:1}
.carousel li{margin-right:5px}
.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#000;opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"}
.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:none !important;-webkit-backface-visibility:hidden}
.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-containerbefore{content:'';display:inline-block;height:100%;vertical-align:middle}
.mfp-align-top .mfp-containerbefore{display:none}
.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}
.mfp-inline-holder .mfp-content,.mfp-ajax-holder .mfp-content{width:100%;cursor:auto}
.mfp-ajax-cur{cursor:progress}
.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}
.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}
.mfp-auto-cursor .mfp-content{cursor:auto}
.mfp-close,.mfp-arrow,.mfp-preloader,.mfp-counter{-webkit-user-select:none;-moz-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.mfp-loading.mfp-figure{display:none}
.mfp-hide{display:none !important}
.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}
.mfp-preloader a{color:#ccc}
.mfp-preloader ahover{color:#fff}
.mfp-s-ready .mfp-preloader{display:none}
.mfp-s-error .mfp-content{display:none}
button.mfp-close,button.mfp-arrow{overflow:visible;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;display:block;outline:none;padding:0;z-index:1046;-webkit-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;button-moz-focus-innerpadding:0;border:0}
.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;filter:alpha(opacity=65);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px}
.mfp-closehover,.mfp-closefocus{opacity:1;-ms-filter:none;filter:none}
.mfp-closeactive{top:1px}
.mfp-close-btn-in .mfp-close{color:#333}
.mfp-image-holder .mfp-close,.mfp-iframe-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}
.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px}
.mfp-arrow{position:absolute;opacity:.65;filter:alpha(opacity=65);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
.mfp-arrowactive{margin-top:-54px}
.mfp-arrowhover,.mfp-arrowfocus{opacity:1;-ms-filter:none;filter:none}
.mfp-arrowbefore,.mfp-arrowafter,.mfp-arrow .mfp-b,.mfp-arrow .mfp-a{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}
.mfp-arrowafter,.mfp-arrow .mfp-a{border-top-width:13px;border-bottom-width:13px;top:8px}
.mfp-arrowbefore,.mfp-arrow .mfp-b{border-top-width:21px;border-bottom-width:21px;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"}
.mfp-arrow-left{left:0}
.mfp-arrow-leftafter,.mfp-arrow-left .mfp-a{border-right:17px solid #fff;margin-left:31px}
.mfp-arrow-leftbefore,.mfp-arrow-left .mfp-b{margin-left:25px;border-right:27px solid #3f3f3f}
.mfp-arrow-right{right:0}
.mfp-arrow-rightafter,.mfp-arrow-right .mfp-a{border-left:17px solid #fff;margin-left:39px}
.mfp-arrow-rightbefore,.mfp-arrow-right .mfp-b{border-left:27px solid #3f3f3f}
.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}
.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}
.mfp-iframe-holder .mfp-close{top:-40px}
.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}
.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);box-shadow:0 0 8px rgba(0,0,0,0.6);background:#000}
img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto}
.mfp-figure{line-height:0}
.mfp-figureafter{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;-webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);box-shadow:0 0 8px rgba(0,0,0,0.6);background:#444}
.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}
.mfp-figure figure{margin:0}
.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}
.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}
.mfp-image-holder .mfp-content{max-width:100%}
.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}
@media screen and (max-width 800px) and (orientation landscape), screen and (max-height 300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}
.mfp-img-mobile img.mfp-img{padding:0}
.mfp-img-mobile .mfp-figureafter{top:0;bottom:0}
.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}
.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,0.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.mfp-img-mobile .mfp-bottom-barempty{padding:0}
.mfp-img-mobile .mfp-counter{right:5px;top:3px}
.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,0.6);position:fixed;text-align:center;padding:0}
}@media all and (max-width 900px){.mfp-arrow{-webkit-transform:scale(.75);-webkit-transform:scale(.75);-moz-transform:scale(.75);-o-transform:scale(.75);-ms-transform:scale(.75);transform:scale(.75)}
.mfp-arrow-left{-webkit-transform-origin:0;-webkit-transform-origin:0;-moz-transform-origin:0;-o-transform-origin:0;-ms-transform-origin:0;transform-origin:0}
.mfp-arrow-right{-webkit-transform-origin:100%;-webkit-transform-origin:100%;-moz-transform-origin:100%;-o-transform-origin:100%;-ms-transform-origin:100%;transform-origin:100%}
.mfp-container{padding-left:6px;padding-right:6px}
.mfp-ie7 .mfp-img{padding:0}
.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}
.mfp-ie7 .mfp-container{padding:0}
.mfp-ie7 .mfp-content{padding-top:44px}
.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}
}html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
html,body{width:100%;height:100%;min-width:1024px}
html{font-size:62.5%}
body{font-size:16px;font-size:1.6rem;line-height:150%;font-family:'openRegular',helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{padding:1rem 0 3rem;line-height:1.4;font-family:'openBold',helvetica,sans-serif}
h1{font-size:8rem}
h2{font-size:2.6rem}
h3{font-size:2.2rem}
h4{font-size:2rem}
h5{font-size:4rem}
h6{font-size:2rem}
.title{color:#d35400;text-transform:uppercase}
p{padding:0 0 24px;font-family:'openRegular',helvetica,sans-serif}
fieldset{border:0;margin:0;padding:0}
legend{border:0;padding:0}
button,input,select,textarea{font-family:inherit;font-size:100%;-webkit-box-shadow:0 0 0 rgba(0,0,0,0);box-shadow:0 0 0 rgba(0,0,0,0);margin-left:NaN%;border:0;-webkit-border-radius:3px;border-radius:3px}
button,input{line-height:normal}
button,select{text-transform:none}
button,input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;}
*{list-style:none;text-decoration:none;outline:none;text-rendering:optimizeLegibility;font-smooth:always;-webkit-font-smoothing:subpixel-antialiased;word-spacing:normal;letter-spacing:normal}
select active{border:none;padding:0}
body,html{background-color:#fff;color:#333;width:100%;height:100%}
.r{zoom:1}
.r:before,.r:after{content:"";display:table}
.r:after{clear:both}
.hidden{display:none}
.hide{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";visibility:hidden}
.inner{zoom:1;max-width:960px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important}
.inner:before,.inner:after{content:"";display:table}
.inner:after{clear:both}
.btn{height:40px;border:0;color:#fff;text-transform:uppercase;font-size:13px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;text-align:center;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
.btn:hover{-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease}
.btn.btn-primary{background-color:#d35400;}
.btn.btn-primary:hover{background-color:#ff6f10}
.btn.btn-secondary{background-color:#18564f;}
.btn.btn-secondary:hover{background-color:#299588}
.btn.btn-bigger{width:auto;height:62px;font-size:18px;display:inline-block;padding:20px 60px}
.btn.btn-big{width:auto;height:55px;font-size:13px;display:inline-block;padding:17px 60px}
.btn.btn-medium{width:auto;height:40px;font-size:13px;display:inline-block;padding:9px 40px}
nav{height:60px;background-color:#efebe9;position:relative;text-align:center;top:0;zoom:1;}
nav:before,nav:after{content:"";display:table}
nav:after{clear:both}
nav .s{float:left;min-width:210px;padding:19px 20px 16px;height:60px;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;-webkit-border-radius:3px;border-radius:3px;z-index:9;}
nav .s a{font-size:14px;color:#3a322c;text-transform:uppercase;font-family:'openBold',helvetica,sans-serif}
nav .s.home,nav .s.search{min-width:initial;width:60px;height:60px;padding:0;}
nav .s.home a,nav .s.search a{text-indent:-9999px}
nav .s.home i,nav .s.search i{width:24px;height:24px;display:block;margin:20px auto 0;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;}
nav .s.home i.icon-home,nav .s.search i.icon-home{background-image:url("../img/i-02.png")}
nav .s.home i.icon-search,nav .s.search i.icon-search{background-image:url("../img/i-03.png")}
nav .s.home:hover,nav .s.search:hover{background-color:transparent !important}
nav .s.search{float:right}
nav .s:hover{background-color:#d35400;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
nav .s:hover a{color:#fff}
nav .s:hover .nav-inner{visibility:visible;opacity:1;-ms-filter:none;filter:none;top:100%;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;z-index:9}
nav .s:hover .reg-nav-inner{visibility:visible;opacity:1;-ms-filter:none;filter:none;top:100%;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;z-index:9}
nav .nav-inner{position:absolute;top:50px;left:0;right:0;visibility:hidden;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";z-index:-1;}
nav .nav-inner .inner{background-color:#e26c14;-webkit-border-radius:3px;border-radius:3px}
nav .nav-inner .triangle{height:8px;width:17px;position:absolute;left:835px;top:-8px;display:block;z-index:9999;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #e26c14}
nav .nav-inner a{color:#fff;letter-spacing:1px;font-size:12px;font-family:'openBold',helvetica,sans-serif;}
nav .nav-inner a.s{zoom:1;float:left;width:20%;margin-left:0;margin-right:0;background-color:#e26c14;height:58px;padding:18px 0;cursor:pointer}
nav .nav-inner a.s:before,nav .nav-inner a.s:after{content:"";display:table}
nav .nav-inner a.s:after{clear:both}
nav .nav-inner a:hover{background-color:#d35400}
nav .nav-inner .sep{width:100%;height:1px;clear:both;background-color:rgba(255,255,255,0.3)}
nav .m03{position:relative;}
nav .m03 .reg-nav-inner{position:absolute;width:235px;top:50px;left:50%;right:0;background-color:#e26c14;margin-left:-117.5px;visibility:hidden;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";z-index:-1;-webkit-border-radius:3px;border-radius:3px;}
nav .m03 .reg-nav-inner .triangle{position:absolute;left:50%;width:8px;margin-left:-4px;top:-8px;display:block;z-index:9999;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #e26c14}
nav .m03 .reg-nav-inner a{color:#fff;letter-spacing:1px;font-size:12px;font-family:'openBold',helvetica,sans-serif;background-color:#e26c14;height:58px;padding:18px 0;cursor:pointer;-webkit-border-radius:3px;border-radius:3px;display:block;border-bottom:1px solid rgba(255,255,255,0.3);}
nav .m03 .reg-nav-inner a:hover{background-color:#d35400}
.menu{height:230px;width:100%;padding:87px 0;}
.menu .inner{height:55px;}
.menu .inner .s{height:100%;zoom:1;float:left;width:14.285714285714285%;margin-left:0;margin-right:0;-webkit-box-shadow:1px 0 0 rgba(0,0,0,0.1);box-shadow:1px 0 0 rgba(0,0,0,0.1);position:relative;text-align:center;opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
.menu .inner .s:before,.menu .inner .s:after{content:"";display:table}
.menu .inner .s:after{clear:both}
.menu .inner .s img{margin:0 auto;display:block;cursor:pointer}
.menu .inner .s .tooltip{position:absolute;left:0;right:0;background-color:#d35400;-webkit-border-radius:3px;border-radius:3px;top:100%;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.menu .inner .s .tooltip p{padding:10px;font-family:'openBold',helvetica,sans-serif;color:#fff;font-size:13px;white-space:nowrap}
.menu .inner .s .tooltip:after{height:8px;width:17px;position:absolute;left:50%;margin-left:-9px;top:-8px;display:block;z-index:9999;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #d35400;content:''}
.menu .inner .s:hover{opacity:1;-ms-filter:none;filter:none;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
.menu .inner .s:hover .tooltip{top:130%;opacity:1;-ms-filter:none;filter:none;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
section{-webkit-transition:height .25s ease;-moz-transition:height .25s ease;-o-transition:height .25s ease;-ms-transition:height .25s ease;transition:height .25s ease;}
section .inner{-webkit-transition:height .25s ease;-moz-transition:height .25s ease;-o-transition:height .25s ease;-ms-transition:height .25s ease;transition:height .25s ease}
section .item{float:left;overflow:hidden;position:relative;background-color:#efebe9;cursor:pointer;margin:10px;-webkit-animation:fadeInLoad .5s;-moz-animation:fadeInLoad .5s;-o-animation:fadeInLoad .5s;-ms-animation:fadeInLoad .5s;animation:fadeInLoad .5s;opacity:1;-ms-filter:none;filter:none;}
section .item .imgBg{width:140px;height:140px;}
section .item .imgBg img{min-width:100%}
section .item .mask{width:100%;height:100%;background-color:rgba(44,62,80,0.4);position:absolute;top:0;left:-100%;-webkit-transition:left .25s ease;-moz-transition:left .25s ease;-o-transition:left .25s ease;-ms-transition:left .25s ease;transition:left .25s ease;}
section .item .mask .cn{text-align:left;color:#fff;padding:10px;font-size:14px;line-height:1.3;position:relative;top:35px;font-family:'openBold',helvetica,sans-serif;-webkit-transition:opacity .25s ease;-moz-transition:opacity .25s ease;-o-transition:opacity .25s ease;-ms-transition:opacity .25s ease;transition:opacity .25s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";left:-10px}
section .item .mask .skill,section .item .mask .btn{display:none}
section .item:hover .mask{left:0;-webkit-transition:left .25s ease;-moz-transition:left .25s ease;-o-transition:left .25s ease;-ms-transition:left .25s ease;transition:left .25s ease;}
section .item:hover .mask .cn{opacity:1;-ms-filter:none;filter:none;-webkit-transition:opacity .8s ease;-moz-transition:opacity .8s ease;-o-transition:opacity .8s ease;-ms-transition:opacity .8s ease;transition:opacity .8s ease;left:0}
section .item.medium{width:140px;height:140px}
section .item.small{width:70px;height:70px;margin:5px;}
section .item.small .imgBg{width:70px;height:70px}
section .item.list{zoom:1;float:left;width:98%;margin-left:1%;margin-right:1%;background-color:transparent;-webkit-animation:fadeInLoad .6s;-moz-animation:fadeInLoad .6s;-o-animation:fadeInLoad .6s;-ms-animation:fadeInLoad .6s;animation:fadeInLoad .6s;height:80px;}
section .item.list:before,section .item.list:after{content:"";display:table}
section .item.list:after{clear:both}
section .item.list .imgBg{width:80px;height:80px;overflow:hidden;float:left;zoom:1;float:left;width:8.333333333333332%;margin-left:0;margin-right:0}
section .item.list .imgBg:before,section .item.list .imgBg:after{content:"";display:table}
section .item.list .imgBg:after{clear:both}
section .item.list .mask{zoom:1;float:left;width:91.66666666666666%;margin-left:0;margin-right:0;height:auto;background-color:transparent;position:relative;top:0;left:0;-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;opacity:1;-ms-filter:none;filter:none;visibility:visible;}
section .item.list .mask:before,section .item.list .mask:after{content:"";display:table}
section .item.list .mask:after{clear:both}
section .item.list .mask .cn{opacity:1;-ms-filter:none;filter:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none;left:0;color:#3a322c;top:initial;font-size:20px;padding:0 0 0 10px}
section .item.list .mask .skill{display:block;color:#4f3f33;padding:0 0 10px 10px;font-size:16px}
section .item.list .mask .btn{float:right;position:relative;top:-50px;display:block}
section .header{zoom:1;padding:40px 0 30px;}
section .header:before,section .header:after{content:"";display:table}
section .header:after{clear:both}
section .header .title{padding:0}
section .header .s{zoom:1;float:left;width:50%;margin-left:0;margin-right:0;}
section .header .s:before,section .header .s:after{content:"";display:table}
section .header .s:after{clear:both}
section .header .s .title{float:left}
section .header .s .option{float:right;color:#18564f;font-family:'openBold',helvetica,sans-serif;cursor:pointer;text-transform:uppercase;font-size:14px;padding-top:15px;-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;-ms-transition:color .25s ease;transition:color .25s ease;}
section .header .s .option:hover{color:#299588;-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;-ms-transition:color .25s ease;transition:color .25s ease}
section .flexslider img{min-width:100%}
section .flexslider .flex-control-nav,section .flexslider .flex-direction-nav{display:none}
section.cover{width:100%;height:385px;background-color:#4d4d4d;overflow:hidden;position:relative;}
section.cover .flexslider{width:100%;height:100%;position:absolute;z-index:1}
section.cover .inner{padding:170px 0 0;text-align:center;color:#fff;position:relative;z-index:2;}
section.cover .inner h1,section.cover .inner h2{padding:0;line-height:1.5}
section.cover .inner h1{font-size:32px}
section.cover .inner h2{font-size:42px}
section.info .btn-secondary{width:200px;margin:40px auto;display:block}
section.info .mapa{width:100%;height:500px;background-color:#e6e6e6}
section.info .s:nth-child(1){zoom:1;float:left;width:56.333333333333336%;margin-left:1%;margin-right:1%}
section.info .s:nth-child(1):before,section.info .s:nth-child(1):after{content:"";display:table}
section.info .s:nth-child(1):after{clear:both}
section.info .s:nth-child(2){zoom:1;float:left;width:39.66666666666667%;margin-left:1%;margin-right:1%}
section.info .s:nth-child(2):before,section.info .s:nth-child(2):after{content:"";display:table}
section.info .s:nth-child(2):after{clear:both}
section.nc .title{font-size:26px;color:#332a24;padding-top:60px;padding-bottom:0}
section.subscribe{text-align:center;}
section.subscribe .inner{padding:60px 0}
section.subscribe .btn-bigger{margin:0 auto}
section.cultor .header .s:nth-child(1){zoom:1;float:left;width:8.333333333333332%;margin-left:0;margin-right:0}
section.cultor .header .s:nth-child(1):before,section.cultor .header .s:nth-child(1):after{content:"";display:table}
section.cultor .header .s:nth-child(1):after{clear:both}
section.cultor .header .s:nth-child(2){zoom:1;float:left;width:91.66666666666666%;margin-left:0;margin-right:0}
section.cultor .header .s:nth-child(2):before,section.cultor .header .s:nth-child(2):after{content:"";display:table}
section.cultor .header .s:nth-child(2):after{clear:both}
section.cultor .header .s .cData h3,section.cultor .header .s .cData h4,section.cultor .header .s .cData h5{line-height:1;padding-left:20px}
section.cultor .header .s .cData h3{font-size:32px;color:#3a322c;font-family:'openBold',helvetica,sans-serif;text-transform:uppercase;padding-bottom:0;padding-top:0}
section.cultor .header .s .cData h4{font-size:18px;color:#4f3f33;padding-top:0;padding-bottom:0;font-family:'openRegular',helvetica,sans-serif}
section.cultor .header .s .cData h5{font-size:12px;font-family:'openBold',helvetica,sans-serif;color:#18564f;text-transform:uppercase;padding-top:20px;padding-bottom:0;display:inline-block;}
section.cultor .header .s .cData h5:after{border-top:1px solid #332a24;content:'';display:block;position:relative;top:-22px;width:100%}
section.cultorInfo .inner .s.a{zoom:1;float:left;width:56.333333333333336%;margin-left:1%;margin-right:1%}
section.cultorInfo .inner .s.a:before,section.cultorInfo .inner .s.a:after{content:"";display:table}
section.cultorInfo .inner .s.a:after{clear:both}
section.cultorInfo .inner .s.b{zoom:1;float:left;width:31.33333333333333%;margin-left:1%;margin-right:1%;margin-left:9.333333333333332%;}
section.cultorInfo .inner .s.b:before,section.cultorInfo .inner .s.b:after{content:"";display:table}
section.cultorInfo .inner .s.b:after{clear:both}
section.cultorInfo .inner .s .title{font-size:22px;padding:20px 0 10px}
section.cultorInfo .social{clear:both;display:block;width:100%;height:auto;position:relative;padding:10px 0;overflow:hidden;}
section.cultorInfo .social li{margin:10px;display:inline-block;float:right;}
section.cultorInfo .social li i{width:20px;height:20px;display:block;opacity:.5;filter:alpha(opacity=50);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;background-position:0 50%;background-repeat:no-repeat;-webkit-transition:opacity .25s ease;-moz-transition:opacity .25s ease;-o-transition:opacity .25s ease;-ms-transition:opacity .25s ease;transition:opacity .25s ease;}
section.cultorInfo .social li i.icon-star{background-image:url("../img/i-11.png")}
section.cultorInfo .social li i.icon-print{background-image:url("../img/i-12.png")}
section.cultorInfo .social li i.icon-share{background-image:url("../img/i-13.png")}
section.cultorInfo .social li i.icon-fbook{background-image:url("../img/i-14.png")}
section.cultorInfo .social li i.icon-twitter{background-image:url("../img/i-15.png")}
section.cultorInfo .social li i:hover{opacity:1;-ms-filter:none;filter:none;-webkit-transition:opacity .25s ease;-moz-transition:opacity .25s ease;-o-transition:opacity .25s ease;-ms-transition:opacity .25s ease;transition:opacity .25s ease}
section.cultorInfo .cInfo{background-color:#18564f;padding:30px 40px;line-height:150%;}
section.cultorInfo .cInfo li p{color:#fff;font-size:14px;padding:0;}
section.cultorInfo .cInfo li p em{font-family:'openBold',helvetica,sans-serif}
section.cultorInfo .iGallery .title{padding:30px 0 !important}
section.cultorInfo .iGallery .picture{height:150px;zoom:1;float:left;width:50%;margin-left:0;margin-right:0;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
section.cultorInfo .iGallery .picture:before,section.cultorInfo .iGallery .picture:after{content:"";display:table}
section.cultorInfo .iGallery .picture:after{clear:both}
section.cultorInfo .iGallery .picture img{width:150px;height:150px;opacity:1;-ms-filter:none;filter:none;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
section.cultorInfo .iGallery .picture:hover{padding:10px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
section.cultorInfo .iGallery .picture:hover img{opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";width:130px;height:130px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
section.location .geo{zoom:1;float:left;width:98%;margin-left:1%;margin-right:1%;position:relative;}
section.location .geo:before,section.location .geo:after{content:"";display:table}
section.location .geo:after{clear:both}
section.location .geo .gMap{height:300px;width:100%;margin-bottom:40px}
section.location .geo .geoMask{width:100%;height:100%;position:absolute;background-color:transparent;z-index:8;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;top:0;left:0}
section.collaborator .s{zoom:1;float:left;width:98%;margin-left:1%;margin-right:1%}
section.collaborator .s:before,section.collaborator .s:after{content:"";display:table}
section.collaborator .s:after{clear:both}
section.collaborator h2{text-transform:uppercase;padding-bottom:0}
.image-source-link{color:#98c3d1;display:none}
.mfp-with-zoom .mfp-container,.mfp-with-zoom.mfp-bg{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-backface-visibility:hidden;-webkit-transition:all .3s ease-out;-moz-transition:all .3s ease-out;-o-transition:all .3s ease-out;-ms-transition:all .3s ease-out;transition:all .3s ease-out}
.mfp-with-zoom.mfp-ready .mfp-container{opacity:1;-ms-filter:none;filter:none}
.mfp-with-zoom.mfp-ready.mfp-bg{opacity:.8;filter:alpha(opacity=80);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"}
.mfp-with-zoom.mfp-removing .mfp-container,.mfp-with-zoom.mfp-removing.mfp-bg{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}
@-moz-keyframes fadeInLoad{0%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";top:10px}
100%{opacity:1;-ms-filter:none;filter:none;top:0}
}@-webkit-keyframes fadeInLoad{0%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";top:10px}
100%{opacity:1;-ms-filter:none;filter:none;top:0}
}@-o-keyframes fadeInLoad{0%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";top:10px}
100%{opacity:1;-ms-filter:none;filter:none;top:0}
}@-ms-keyframes fadeInLoad{0%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";top:10px}
100%{opacity:1;-ms-filter:none;filter:none;top:0}
}@keyframes fadeInLoad{0%{opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";top:10px}
100%{opacity:1;-ms-filter:none;filter:none;top:0}
}header{padding:20px 0;width:100%;height:80px;background-color:rgba(255,255,255,0.6);position:fixed;top:0;left:0;right:0;z-index:999;min-width:1024px;}
header .s:nth-child(1){zoom:1;float:left;width:39.66666666666667%;margin-left:1%;margin-right:1%}
header .s:nth-child(1):before,header .s:nth-child(1):after{content:"";display:table}
header .s:nth-child(1):after{clear:both}
header .s:nth-child(2){zoom:1;float:left;width:56.333333333333336%;margin-left:1%;margin-right:1%;position:relative}
header .s:nth-child(2):before,header .s:nth-child(2):after{content:"";display:table}
header .s:nth-child(2):after{clear:both}
header .s h1{font-size:32px;padding:0;margin:0;line-height:1.3;float:left;text-indent:-9999px}
header .s .imago{display:block;margin-top:3px;float:left}
header .s .signup{float:right;}
header .s .signup fieldset{width:auto;float:left;}
header .s .signup fieldset input{float:left;width:161px;height:40px;margin:0 5px;font-size:12px;padding:0 20px}
header .s .signup button{width:161px;height:40px;float:right}
header .s .registered{float:right;}
header .s .registered .avatar{overflow:hidden;width:50px;height:50px;float:right;position:relative;background-color:#808080;top:-5px;}
header .s .registered .avatar img{line-height:1}
header .s .registered:hover ul{opacity:1;-ms-filter:none;filter:none;visibility:visible;top:60px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
header .s .registered ul{height:auto;position:absolute;width:210px;background-color:#e26c14;top:50px;right:0;visibility:hidden;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-border-radius:3px;border-radius:3px;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
header .s .registered ul .triangle{position:absolute;right:20px;top:-8px;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #e26c14}
header .s .registered ul a{display:block}
header .s .registered ul li{padding:15px;-webkit-border-radius:3px;border-radius:3px;display:block;height:45px;border-bottom:1px solid rgba(255,255,255,0.1);-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
header .s .registered ul li span{color:#fff;text-transform:uppercase;font-family:'openBold',helvetica,sans-serif;font-size:12px;display:block;line-height:1.5;letter-spacing:1px}
header .s .registered ul li i{width:16px;height:16px;display:block;float:left;background-color:#fff;-webkit-border-radius:100%;border-radius:100%;margin:0 10px 0 0}
header .s .registered ul li:hover{background-color:#d35400;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease}
header .hMenu .region{font-size:14px;text-transform:uppercase;float:left;padding:15px 0 0 10px;color:#4f3f33;text-indent:initial;}
header .hMenu .region:after{position:relative;right:-15px;top:6px;display:inline;z-index:9999;float:right;content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #4f3f33}
header .hMenu .hMenu-inner{width:310px;background-color:#4f3f33;-webkit-border-radius:3px;border-radius:3px;height:auto;position:absolute;top:50px;right:0;visibility:hidden;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;}
header .hMenu .hMenu-inner .triangle{position:absolute;right:15px;top:-8px;display:block;z-index:9999;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #4f3f33}
header .hMenu .hMenu-inner a{color:#fff;letter-spacing:1px;font-size:12px;font-family:'openBold',helvetica,sans-serif;background-color:#4f3f33;height:45px;padding:11px 25px 0;width:100%;cursor:pointer;-webkit-border-radius:3px;border-radius:3px;display:block;border-bottom:1px solid rgba(255,255,255,0.3);text-transform:uppercase;}
header .hMenu .hMenu-inner a:hover{background-color:#3a322c}
header .hMenu:hover{padding-bottom:60px;}
header .hMenu:hover .hMenu-inner{top:60px;opacity:1;-ms-filter:none;filter:none;visibility:visible;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
header .m02 .region{font-size:14px;text-transform:uppercase;float:left;padding:15px 0 0 10px;color:#4f3f33;text-indent:initial;}
header .m02 .region:after{position:relative;right:-15px;top:6px;display:inline;z-index:9999;float:right;content:'';width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #4f3f33}
header .m02 a{float:left;min-width:144px;padding:19px 20px 16px !important;height:60px;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;text-align:center;-webkit-border-radius:3px;border-radius:3px;z-index:9;font-size:14px;color:#3a322c;text-transform:uppercase;font-family:'openBold',helvetica,sans-serif}
header .m02:hover{background-color:#d35400;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
header .m02:hover a{color:#fff}
header .m02:hover .nav-inner{visibility:visible;opacity:1;-ms-filter:none;filter:none;top:100%;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;z-index:9}
header .m02:hover .reg-nav-inner{visibility:visible;opacity:1;-ms-filter:none;filter:none;top:100%;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;z-index:9}
header .m02 .nav-inner{position:absolute;top:50px;left:0;right:0;visibility:hidden;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-o-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;opacity:0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";z-index:-1;}
header .m02 .nav-inner .inner{background-color:#4f3f33;-webkit-border-radius:3px;border-radius:3px}
header .m02 .nav-inner .triangle{height:8px;width:17px;position:absolute;left:835px;top:-8px;display:block;z-index:9999;width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-bottom:8px solid #e26c14}
header .m02 .nav-inner a{color:#fff;letter-spacing:1px;font-size:12px;font-family:'openBold',helvetica,sans-serif;}
header .m02 .nav-inner a.s{zoom:1;float:left;width:20%;margin-left:0;margin-right:0;background-color:#4f3f33;height:58px;padding:18px 0;cursor:pointer}
header .m02 .nav-inner a.s:before,header .m02 .nav-inner a.s:after{content:"";display:table}
header .m02 .nav-inner a.s:after{clear:both}
header .m02 .nav-inner a:hover{background-color:#3a322c}
header .m02 .nav-inner .sep{width:100%;height:1px;clear:both;background-color:rgba(255,255,255,0.3)}
footer{height:160px;width:100%;padding-top:40px;zoom:1;}
footer:before,footer:after{content:"";display:table}
footer:after{clear:both}
footer .inner{padding:40px 0 0;border-top:1px solid #2c3e50;}
footer .inner .s a{color:inherit}
footer .inner .s:nth-child(1){zoom:1;float:left;width:23%;margin-left:1%;margin-right:1%;}
footer .inner .s:nth-child(1):before,footer .inner .s:nth-child(1):after{content:"";display:table}
footer .inner .s:nth-child(1):after{clear:both}
footer .inner .s:nth-child(1) p{font-size:14px;color:#332a24;line-height:1.3;font-family:'openSemi',helvetica,sans-serif;}
footer .inner .s:nth-child(1) p em{padding-top:10px;display:block}
footer .inner .s:nth-child(2){zoom:1;float:left;width:48%;margin-left:1%;margin-right:1%;margin-left:9.333333333333332%;}
footer .inner .s:nth-child(2):before,footer .inner .s:nth-child(2):after{content:"";display:table}
footer .inner .s:nth-child(2):after{clear:both}
footer .inner .s:nth-child(2) li{font-size:11px;line-height:1.8;color:#332a24}
footer .inner .s .gobBrand{width:185px;height:25px;}
footer .inner .s .gobBrand .blueOne{background-color:#0b61ae;width:74px;height:25px;float:left}
footer .inner .s .gobBrand .redOne{background-color:#ea3535;width:111px;height:25px;float:left}
/*FIN OLDMINE*/