.pagination
{
    padding-top: 100px;
}

/*.registrese form input[type="button"]{height:40px;text-transform:uppercase;background-color:#d35400;margin:15px 10px 0;width:210px;float:right;color:#fff;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease;}
.registrese form input[type="button"]:hover{height:40px;background-color:#be4c00;-webkit-transition:background .25s ease;-moz-transition:background .25s ease;-o-transition:background .25s ease;-ms-transition:background .25s ease;transition:background .25s ease}*/

input[type='file'].file_hidden
{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
    -moz-opacity: 0;
    filter: Alpha(Opacity=0);
}

.form_error {
    font-family: inherit;
    font-size: 100%;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    margin-left: NaN%;
    border:1px solid red;    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #efebe9;
    clear: both;
    height: 40px;
    width: 470px;
    padding-left: 10px;
    font-size: 14px;
}

.signup_error
{
    float: left;
    width: 155px;
    height: 40px;
    margin: 0 5px;
    font-size: 12px;
    padding: 0 20px;
    border: 1px solid red;
}

.texto_principal
{
    font-size: 18px;
}

.lnk_comuna
{
    color:#fff;
    font-family: 'openBold',helvetica,sans-serif;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    padding-top: 0px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
    background-color: #a6c2bf !important;
    padding: 5px 15px;
    margin:10px 5px 0;
    line-height:16px;
    display:inline-block;
    
}

.lnk_comuna:hover {
    background-color: #5e8884 !important;
    color:#ffffff !important;
}




/*CLASE DE PRUEBA*/
.lnk_comuna2 {
    font-family: 'openBold',helvetica,sans-serif;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    padding-top: 0px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
    padding: 5px 15px;
    margin:10px 5px 0;
    line-height:16px;
    display:inline-block;
    /*obtener pseudo clase */
    background-color: #5e8884 !important;
    color:#ffffff !important;
    border:2px solid #333;
}


    
.lnk_comuna3 {
    font-family: 'openBold',helvetica,sans-serif;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    padding-top: 0px;
    -webkit-transition: color .25s ease;
    -moz-transition: color .25s ease;
    -o-transition: color .25s ease;
    -ms-transition: color .25s ease;
    transition: color .25s ease;
    padding: 5px 15px;
    margin:10px 5px 0;
    line-height:16px;
    display:inline-block;
    /*obtener pseudo clase */
    background-color: #5e8884 !important;
    color:#ffffff !important;
}



.lnk_dominio {
	color: #6D5D54;
	text-decoration: underline;
	font-size: 14px;
	line-height: 15px;
	font-family:'openRegular';
	text-transform: none;
}

.asociado {
    display:block;
    padding:4px 0 0 0;
    font-size: 14px;
}

.asociado p {
   display:inline;

  color: #564A43;
font-size: 11px;
line-height: 15px;
font-family: 'openBold';
text-transform: uppercase;

}

.asociado a {
   
color: #6D5D54;
text-decoration: underline;
font-family: 'openRegular';
text-transform: none;
}


/* SELECT DE MAPAS MICROSITIO */

.ventana {
  overflow: hidden;
  margin:5px;
  width: 300px;
  height: auto;
}

table#map tr td {
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 8px;
}

table#map td {
    vertical-align: top;
}

table#map td:first-child {
  width: 120px;
}

span.cultor {
    display: block;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

span.especialidad {
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 12px;
    font-style: italic;
}

a.enlace {
    text-align: center;
    display: block;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.filtrar {
    margin-right: 10px;
    width: 90px;
    height: 30px;
    font-size: 11px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.select-map {
    display: block;
    margin-top: 10px;
}

span.select-title {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10px;
    text-transform: uppercase;
}

div.simbologia {
    margin-top: 15px;
    margin-left: 10px;
}

div.simbologia span {
    font-size: 14px;
    margin-right: 50px;
    position: relative;
    top: -10px;
}

img.pin {
    height: 30px;
    margin-right: 10px;
}

div#map {
    float: right;
    height: 400px;
    width: 70%;
}

div#form_map {
    background-color: #efebe9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 30%;
    height: 400px;
    float: left;
}

input#texto {
    display: block;
    width: 240px;
    height: 27px;
    border: 1px solid #aaa;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 11px;
}

input#texto::-webkit-input-placeholder {
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
}

/* MAPAS SIGPA */

section.map-sigpa {
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 80px;
    overflow: hidden;
}

section.map-sigpa-mcr {
    width: 100%;
    height: calc(100% - 140px);
    overflow: hidden;
}

div.form-map-sigpa {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #efebe9;
    padding: 30px;
}

div.form-map-sigpa-mcr {
    display: inline-block;
    float: left;
    width: 25%;
    height: 100%;
    background-color: #f2efed;
    padding: 30px;
}

div.gm-map-sigpa {
    display: inline-block;
    float: left;
    width: 75%;
    height: 100%;
}

div.map-text {
    margin-bottom: 20px;
    font-size: 12.5px;
    line-height: normal;
    width: 95%;
    text-align: justify;
}

div.map-text2 {
    margin-top: 15px;
    font-size: 12px;
    line-height: normal;
    font-style: italic;
}


