   /*----- Tabs -----*/
   .tabs {
    width:100%;
    display:inline-block;
    margin-top:30px;
  }

  /*----- Tab Links -----*/
  /* Clearfix */
  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }

  .tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
  }

  .tab-links a {
    padding:13px 20px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background-color:#e59f83;
    font-size:12px;
    text-transform:uppercase;
    color:#4c4c4c;
    transition:all linear 0.15s;
  }

  .tab-links a:hover {
    background:#e59f83;
    text-decoration:none;
  }

  li.active a, li.active a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:#4c4c4c;
  }

  /*----- Content of Tabs -----*/
  .tab-content {

    border-radius:3px;
    /*box-shadow:-1px 1px 1px rgba(0,0,0,0.15);*/
    background-color: rgba(255, 255, 255, 0.5);
    overflow:hidden;
  }

  .tab {
    display:none;
  }

  .tab.active {
    display:block;
  }