/* MICROSITIO */

nav .m03 .reg-nav-inner a {
	min-width: 240px !important;
}

nav .s {
	float: left;
	min-width: 120px !important;
	padding-left: 35px !important;
	padding-right: 35px !important;
}

/* FORMULARIO DE POSTULACIÓN */

header {
    position: absolute;
}

header .hMenu .hMenu-inner {
    left: 467px;
}

.btn_home.btn-primary_home {
    background-color: #833463;
}

.btn_home.btn-primary_home:hover {
    background-color: #9b3180;
}

.btn_home.btn-big {
    width: auto;
    height: 55px;
    font-size: 14px;
    display: inline-block;
    padding: 18px 60px;
    margin-top: 10px;
    color: #fff;
}

.btn_home {
    font-family: 'openBold',helvetica,sans-serif;
    height: 40px;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer !important;
    text-align: center;
    -webkit-transition: background .25s ease;
    -moz-transition: background .25s ease;
    -o-transition: background .25s ease;
    -ms-transition: background .25s ease;
    transition: background .25s ease;
}

section.info {
    padding-top: 50px;
    width: auto;
    margin: auto;
    display: block;
}

section.info .col1 {
    width: 30%;
    float: left;
    margin-right: 4%;
}

section.info .inner .r1 p {
    padding: 0 0 12px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 17px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
}

section.info .col2 {
    width: 60%;
    float: left;
    margin-left: 3%;
    margin-bottom: 4%;
}

section.info .inner .r2 p {
    padding: 0 0 12px;
    font-family: 'openRegular',helvetica,sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

section.info .links {
	margin-top: 20px;
}

section.info .icon-thv {
	width: 32%;
	display: inline-block;
}

section.info .icon-thv img {
	width: 100px;
	margin-left: 40px;
}

section.info p.icon-text {
	text-transform: uppercase;
	font-size: 12px !important;
	font-weight: bold;
	margin-top: 10px;
    text-align: center !important;
}

section.registrese h1 {
    font-size: 25px;
}

section.registrese h2 {
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 15px;
}

section.registrese h3 {
    font-size: 15px;
}

section.registrese .s {
    margin-top: 50px;
}

div.col {
    width: 46%;
}

div.clear {
    display: block;
    float: right;
    margin-right: 57px;
}

.registrese form select {
    height: 40px;
}

.registrese form input {
    height: 40px;
}

div.logo {
    display: block;
    background-image: url(../img/thv/cnca-top.jpg);
    background-repeat: no-repeat;
    background-position: 0px -2px;
}

img.logo-thv {
    margin-top: 30px;
}

fieldset {
    display: block;
}