section.widget{
	display: block;
	position: relative;
	width: 100%;
	max-width:300px;
	min-width: 150px;
	/*margin: 0px auto;*/
}

#contentw {
	width: 80%;
	height: auto;
	position: relative;
	background-color:#e26c14;
	border-radius: 10px ;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 0px solid #e26c14;
	overflow: hidden;
	display: block;
	/*margin: 0px auto;*/
	font-size: 100%;
}	

#dv_encabezado {
	display: block;
	position: relative;
}	

section.widget .logo_head {
	width: 100%;
	height: auto;
	padding: 10px 5% 5px;
}

section.widget .logo_head:after{
	display: block;
	clear: both;
	content: '';
}

section.widget .logo_head .logo-left{
	display: block;
	width: 28%;
	float: left;
}

section.widget .logo_head img.logo-right{
	display: block;
	width: 34%;
	float: right;
}

section.widget .options_head {
	float:right;
	padding:15px 13px 10px 0;
	display:none;
}

section.widget .cont_cultor {
	overflow:hidden;
	cursor:pointer;
	padding:6px;
  	width:100%;
	height:auto;
	position: relative;
}

section.widget .cont_cultor img {
	display: block;
	border: 1px solid rgba(255,255,255, 0.5);
	width: 100%;
}

section.widget .imagen_cultor {
	width:300px;
	height:300px;
	overflow: hidden;
	display: table-cell;
  	vertical-align: middle;
	opacity:0.7;
    filter: alpha(opacity=70);
}

section.widget .nombre_cultor {
	color:#ffffff;
	text-align: left;
  	padding: 6px;
  	position: absolute;
  	display: block;
  	top: 0px;
 	height: 100%;
 	width: 100%;
  	background-color: rgba(44, 62, 80, 0.4);
  	overflow: hidden;
}

section.widget .nombre_cultor .align_info{
	position: absolute;
	bottom: 20px;
	left: 0px;
	padding: 0px 20px;
	display: block;
	width: 100%;
	height: auto;
}

section.widget .nombre_cultor h2 {
	text-transform: uppercase;
	font-family: 'openBold',helvetica,sans-serif;
	font-size: 1.8em;
  	line-height: 0.9em;
  	padding: 0px 0px 5px 0px;
  	overflow: hidden;
  	text-overflow:ellipsis;
  	white-space: nowrap;
}

section.widget .nombre_cultor a {
	color:#ffffff;
	letter-spacing: -0.8px;
}

section.widget .nombre_cultor h3 {
	font-family: 'openRegular',helvetica,sans-serif;
	font-size: 1.4em;
    line-height: 1.1em;
  	text-transform: none;
  	padding: 0px;
}

section.widget .lista_cultor {
	display: block;
	position: relative;
  	top: 3px;
  	overflow: scroll;
  	height:290px;
}

section.widget .lista_cultor ul{
	padding: 0px 6px;
	list-style-type: none;
}

section.widget .lista_cultor li {
	background-color:#f2f2f2;
	display:inline-block;
	margin-bottom:1px;
	width:200px;
	cursor:pointer;
	padding:0 3px 0 0;
	vertical-align: middle;
	margin: 1px 0;
}

section.widget .lista_cultor img {
	float:left;
	padding:5px 10px 5px 5px;
}

section.widget .lista_cultor li h4 {
	text-transform: uppercase;
	font-family: 'openBold',helvetica,sans-serif;
	font-size: 11px;
  	color:#48403A;
  	padding:0px;
  	line-height: 12px;
  	vertical-align: middle;
  	padding: 4px ;
}

section.widget .lista_cultor li:hover {
	background-color:#c6b9b2;
	display:inline-block;
}

address {
	width: 100%;
	color: rgba(255,255,255, 0.5);
  	padding: 8px 5% 12px;
  	text-align: center;
  	line-height: 12px;
  	font-size: 1em;
}
